
<div class="subtitulo" align="center">Agregar preguntas al cuestionario</div>
<mat-divider class="lineaDivisoria"></mat-divider>
<br>


<div class="enColumna">
 <form style="width: 70%">
    <div>
        <p>
            <span style="font-weight: bold;text-align: center;">Preguntas que ya estan en el cuestionario </span>
        </p>
    </div>

    <table style="width: 100%; table-layout:fixed;"  *ngIf="preguntasDelCuestionario[0]" mat-table [dataSource]="dataSourcePreguntasDelCuestionario" class="example-container mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Nombre Alumno Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 23%"> Titulo </th>
        <td mat-cell *matCellDef="let pregunta"> {{pregunta.Titulo}} </td>
      </ng-container>

      <!-- Primer Apellido Column -->
      <ng-container matColumnDef="pregunta">
        <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 23%"> Pregunta </th>
        <td mat-cell *matCellDef="let pregunta"> {{pregunta.Pregunta}} </td>
      </ng-container>

      <!-- Segundo Apellido Column -->
      <ng-container matColumnDef="tematica">
        <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 23%"> Tematica </th>
        <td mat-cell *matCellDef="let pregunta"> {{pregunta.Tematica}} </td>
      </ng-container>


      <!-- Delete Column -->
      <ng-container matColumnDef=" ">
        <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
        <td mat-cell *matCellDef="let pregunta">
            <button (click) = "AbrirDialogoConfirmacionBorrar (pregunta)" mat-icon-button matTooltip="Borrar a {{pregunta.Titulo}} del cuestionario">
              <i class="material-icons red md-36">delete</i>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPreguntasDelCuestionario; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPreguntasDelCuestionario;"></tr>

    </table>
    <mat-divider class="lineaDivisoria"></mat-divider>
    <br>

    <div>
      <p>
          <span style="font-weight: bold; align-content: center;">Mis preguntas</span>
      </p>
    </div>

    <div class = "filter">
        <mat-form-field>
          <input matInput (keyup)="applyFilterMisPreguntas($event.target.value)" placeholder="Filtro para buscar pregunta...">
          <i class="material-icons" matSuffix>search</i>
        </mat-form-field>
      </div>


    <table style="width: 100%; table-layout:fixed;"  *ngIf="misPreguntas[0]" mat-table [dataSource]="dataSourceMisPreguntas" class="example-container mat-elevation-z8">

      <!-- Nombre Alumno Column -->
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 23%"> Titulo </th>
        <td mat-cell *matCellDef="let pregunta"> {{pregunta.Titulo}} </td>
      </ng-container>

      <!-- Primer Apellido Column -->
      <ng-container matColumnDef="pregunta">
        <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 23%"> Pregunta </th>
        <td mat-cell *matCellDef="let pregunta"> {{pregunta.Pregunta}} </td>
      </ng-container>

      <!-- Segundo Apellido Column -->
      <ng-container matColumnDef="tematica">
        <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 23%"> Tematica </th>
        <td mat-cell *matCellDef="let pregunta"> {{pregunta.Tematica}} </td>
      </ng-container>

      <!-- Add Column -->
      <ng-container matColumnDef=" " stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
          <td mat-cell *matCellDef="let pregunta">
              <button (click) = "AsignarPregunta(pregunta)" mat-icon-button matTooltip = "Añadir a {{pregunta.Titulo}} al cuestionario">
                  <i class="material-icons green md-36">add_circle_outline</i>
              </button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsMisPreguntas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMisPreguntas;"></tr>

    </table>
    <mat-divider class="lineaDivisoria"></mat-divider>
    <br>
    <mat-dialog-actions align= "center">
      <button type="button" (click) = "goBack()" class="btn Back">Cerrar </button>
    </mat-dialog-actions>
</form>
</div>
