<div class="enColumna">

  <div class="enFila" style="width: 65%">
    <button type="button" class="btn Info" >Información<i class="material-icons">info</i></button>
    <button type="button" class="btn Editar">Editar Jornadas<i class="material-icons">edit</i></button>
    <button type="button" class="btn Aceptar">Resultados<i class="material-icons">emoji_events</i></button>
    <button type="button" class="btn Eliminar"> Desactivar<i class="material-icons">history</i></button>
  </div>

  <!-- ////////////////////////////////////// CLASIFICACIÓN INDIVIDUAL ////////////////////////////////////////////////////-->
  <form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Individual'">
    <div class="filter"  style="width: 60%">
      <mat-form-field style="width: 95% !Important;">
        <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Filtro para buscar alumno...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
    </div>
  </form>


  <!-- ////////////////////////////////////// CLASIFICACIÓN EQUIPOS ////////////////////////////////////////////////////-->
  <form style=" width: 100%" *ngIf="juegoSeleccionado.Modo != 'Individual'">
    <div class="filter"  style="width: 60%">
      <mat-form-field style="width: 95% !Important;">
        <input matInput (keyup)="applyFilterEquipo($event.target.value)" placeholder="Filtro para buscar equipo...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
    </div>
  </form>

</div>


