h3 {
    white-space: pre-line;
    }


.uno{
    background-color: rgb(51, 122, 183);
    position: relative;
  }

.dos{
    background-color: rgb(240, 173, 78);
    position: absolute;
    justify-content: center;
  }

