<div class="titulo">Información Juego De Colección</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enColumna">
          <img class ="imagen" style="margin-top: 5px" *ngIf="imagenColeccion"  mat-card-image [src]="imagenColeccion" >
          <p>
          <span style="font-weight: bold;">Nombre:</span>
                    {{nombreColeccion}}
          </p>




<mat-grid-list cols="3" rowHeight="100px" style="width: 70%; margin-left : 15%" >
  <mat-grid-tile
      *ngFor="let cromo of cromosColeccion; let i = index"
      [colspan]="1"
      [rowspan]="4"
      [style.background]="white">
      <mat-card class="cromo" [ngClass]="{
        'Diamante' : cromo.Nivel === 'Diamante',
        'Platino' : cromo.Nivel === 'Platino',
        'Oro' : cromo.Nivel === 'Oro',
        'Plata' : cromo.Nivel === 'Plata',
        'Bronce' : cromo.Nivel === 'Bronce'}">
        <mat-card-header>
          <div style="display: flex; justify-content:space-between; width: 250px ">
          <div  >
          <mat-card-title>{{cromo.Nombre}}</mat-card-title>
          <mat-card-subtitle><p style="margin-bottom: -2px;">Nivel: {{cromo.Nivel}} </p><p style="margin-bottom: -2px;">Probabilidad: {{cromo.Probabilidad}} </p></mat-card-subtitle>
        </div>
          <div class="elementoCromo">
          </div>
        </div>
        </mat-card-header>
        <mat-card-content style="display: flex; align-items: center;justify-content: center;">
        <div class="posicionImagen" >
        <img class ="imagenCromo" *ngIf="imagenCromoDelante[i]" mat-card-image [src]="imagenCromoDelante[i]" >
      </div>
    </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<button type="button" class="btn Back" (click)="goBack()">Volver </button>
  </div>
</div>
