<div class="titulo">Mis rúbricas</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
    <div class = "enFila" style="width: 60%; align-content: left;"  >
      <div>
        Selecciona una rúbrica
        <br>
        <mat-form-field>
          <mat-label>Rúbricas</mat-label>
          <select matNativeControl [(ngModel)]="rubricaId"  (change) = "MuestraRubrica()">
            <option *ngFor="let rubrica of listaRubricas" [value]="rubrica.id">
              <p >{{rubrica.Nombre}}</p>
            </option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <br>
    <br>

    <div *ngIf = "rubricaElegida" style = "width:60%">

      <h2>{{rubricaElegida.Nombre}}</h2>
      <h3>{{rubricaElegida.Descripcion}}</h3>
      <br>
      <mat-accordion>
        <h5 style="color: rgb(197, 15, 15)">   Criterios</h5>
        <mat-expansion-panel *ngFor="let criterio of rubricaElegida.Criterios ;let i = index" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{criterio.Nombre}}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <h5 style="color: rgb(197, 15, 15)">   Elementos</h5>
          <div fxLayout="column" fxLayoutAlign="start start" style="min-height: min-content; width: 60%">
          <mat-divider style="align-self: stretch;"></mat-divider>
          <mat-selection-list>
            <mat-list-option *ngFor="let elemento of criterio.Elementos">
              <h3>{{elemento}}</h3>
            </mat-list-option>
          </mat-selection-list>
          <mat-divider style="align-self: stretch;"></mat-divider>
          </div>
        </mat-expansion-panel>

      </mat-accordion>

    </div>
</div>

