<div class="titulo">Juegos</div>
<mat-divider class="lineaDivisoria"></mat-divider>


<div class="contenedor">

<mat-tab-group [color]="primary" [backgroundColor]="primary" #tabs>

  <!-- ///////////////////////////////////////// LISTA DE JUEGOS  //////////////////////////////////////////////////-->

  <mat-tab index = "0" label="Lista de juegos">

    <br>
    <br>
    <form>

        <div >
          <mat-list>

                <!-- ///////////////////////// LISTA DE JUEGOS ACTIVOS /////////////////////////////////-->
                <h3 class = "CabeceraActivos" style= "color: white;font-style: bold;font-size: 2em;" mat-subheader>Juegos Activos</h3>

                <form *ngIf="juegosActivos ;else Aviso_no_juegos_activos">
                  <mat-list-item *ngFor="let juego of juegosActivos" (click) = JuegoSeleccionado(juego) routerLink = "juegoSeleccionadoActivo">

                    <mat-icon mat-list-icon><i class="material-icons green">check_circle_outline</i></mat-icon>
                    <h4 mat-line>{{juego.Tipo}}</h4>
                    <p mat-line> {{juego.Modo}} </p>
                  </mat-list-item>
                </form>
                <ng-template #Aviso_no_juegos_activos>
                  No hay juegos activos
                </ng-template>
                <!-- <ng-template #Aviso_no_juegos_activos>
                    <label><i class="material-icons green">error_outline</i>
                      No hay juegos activos</label>
                </ng-template> -->

            <!-- ///////////////////////// LISTA DE JUEGOS INACTIVOS /////////////////////////////////-->
            <br>
            <br>
            <h3 class = "CabeceraInactivos" style= "color: white;font-style: bold;font-size: 2em;" mat-subheader>Juegos Inactivos</h3>
              <form *ngIf="juegosInactivos;else Aviso_no_juegos_inactivos">
                  <mat-list-item *ngFor="let juego of juegosInactivos" (click) = JuegoSeleccionado(juego) routerLink = "juegoSeleccionadoInactivo">
                    <mat-icon mat-list-icon><i class="material-icons red">history</i></mat-icon>
                    <h4 class= "ItemsInactivos" mat-line>{{juego.Tipo}}</h4>
                    <p class= "ItemsInactivos" mat-line> {{juego.Modo}} </p>
                  </mat-list-item>


              </form>
              <ng-template #Aviso_no_juegos_inactivos>
                  No hay juegos inactivos
              </ng-template>

          </mat-list>

        </div>

    </form>
  </mat-tab>





 <!-- ////////////////////////////////////////////// CREAR JUEGO  //////////////////////////////////////////////////-->

  <mat-tab label="Crear juego">

    <form [formGroup]="myForm">
      <mat-card class="panel" style="width: 90%">

        <mat-card-content>
          <mat-horizontal-stepper #stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true">


        <!-- /////////////////////// PRIMER PASO: SELECCIÓN DEL TIPO DE JUEGO ////////////////////////////////-->
          <mat-step>
            <ng-template matStepLabel>Tipo De Juego</ng-template>


              <div class = "colorsChips">

                <label class = "LabelStepper">Selecciona un tipo de juego:</label>
                <mat-chip-list class="mat-chip-list-stacked">
                    <mat-chip *ngFor="let tipo of seleccionTipoJuego; let i = index" selected [color]="tipo.color"  selected="{{seleccionTipoJuego[i].selected}}"
                    (click)="TipoDeJuegoSeleccionado(seleccionTipoJuego[i])" [value]="tipo.nombre" [selectable]="true">
                      {{tipo.nombre}}
                    </mat-chip>
                </mat-chip-list>
                <span style = "font-weight: bold;color:green;" color = "secundary">Has elegido ... {{tipoDeJuegoSeleccionado}} </span>
              </div>

              <div class="btnCambiarStep">
                  <button [disabled]="isDisabled" type="button" class="btn Next" matStepperNext>Siguiente</button>
              </div>



          </mat-step>



          <!-- //////////////////////// SEGUNDO PASO: SELECCIÓN DEL MODO DE JUEGO ///////////////////////// -->
          <div *ngIf="(tipoDeJuegoSeleccionado !== 'Juego De Competición')">
          <mat-step>
            <ng-template matStepLabel><div>Modo De Juego</div></ng-template>

              <div class = "colorsChips">

                <label class = "LabelStepper">Selecciona un modo de juego:</label>
                <mat-chip-list class="mat-chip-list-stacked">
                  <mat-chip *ngFor="let tipo of seleccionModoJuego; let i = index" selected [color]="tipo.color"  selected="{{seleccionModoJuego[i].selected}}"
                     (click)="ModoDeJuegoSeleccionado(seleccionModoJuego[i])" [value]="tipo.nombre" [selectable]="true" >
                      {{tipo.nombre}}
                  </mat-chip>
                </mat-chip-list>
                <span style ="font-weight: bold;color:green;"> Has elegido ... {{tipoDeJuegoSeleccionado}} ... {{modoDeJuegoSeleccionado}} </span>

              </div>



                <div class="btnCambiarStep">
                  <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                  <button type="button" class="btn Next"  [disabled]="isDisabledModo" matStepperNext (click) = "CrearJuegoCorrespondiente()">Siguiente</button>
                  <!-- <button type="button" class="btn Next"  [disabled]="isDisabledModo" matStepperNext>Siguiente</button> -->

                </div>

          </mat-step>
        </div>


          <!-- ////////////////////////////SI ESCOGEMOS EL JUEGO DE TIPO DE PUNTOS ////////////////////////////////-->

          <div *ngIf="(tipoDeJuegoSeleccionado === 'Juego De Puntos' && juegoCreado === true)">


            <!-- TERCER PASO: ASIGNACIÓN DE PUNTO AL JUEGO -->
            <mat-step>
              <ng-template matStepLabel><div>Asignación De Puntos</div></ng-template>

              <label class = "LabelStepper">Selecciona los tipos de puntos</label>
              <!-- Saltamos al componente de asignación -->
              <app-asignacion-punto-juego></app-asignacion-punto-juego>

            </mat-step>


            <!-- CUARTO PASO: CREACIÓN DE NIVELES-->
            <mat-step>
              <ng-template matStepLabel><div>Creación de Niveles</div></ng-template>

                <label class = "LabelStepper">Añade los niveles que desees</label>
                  <!-- Activamos el componente para crear nivel -->
                  <app-crear-nivel ></app-crear-nivel>

                  <div class="btnCambiarStep">
                      <button type="button" class="btn Next"  matStepperNext>Siguiente</button>
                  </div>

            </mat-step>
          </div>


          <!-- ////////////////////////////SI ESCOGEMOS EL JUEGO DE TIPO DE COLECCIÓN ////////////////////////////////-->

          <div *ngIf="tipoDeJuegoSeleccionado === 'Juego De Colección'">
            <div *ngIf="juegoCreado === true">



            <!-- TERCER PASO: ASIGNACIÓN DE COLECCIÓN AL JUEGO -->
            <mat-step>
                <ng-template matStepLabel><div>Asignación De La Colección</div></ng-template>

                <label class = "LabelStepper">Selecciona una colección para el juego</label>
                <!-- Nos vamos al componente para asignar la colección -->
                <app-asignacion-coleccion-juego
                  (emisorNombreColeccion) = "RecibeNombre ($event)"
                ></app-asignacion-coleccion-juego>
                <span style ="font-weight: bold;color:green;"> Has elegido ... {{tipoDeJuegoSeleccionado}}: {{nombreColeccionSeleccionada}} ... {{modoDeJuegoSeleccionado}} </span>

              </mat-step>
            </div>

          </div>


          <!-- ////////////////////// SI ESCOGEMOS EL JUEGO DE TIPO DE COMPETICIÓN ////////////////////////////////-->

          <div *ngIf="tipoDeJuegoSeleccionado === 'Juego De Competición'">

            <!-- SEGUNDO PASO: SELECTION DE TIPO DE COMPETICION -->

            <mat-step>
                <ng-template matStepLabel><div>Tipo De Competición</div></ng-template>

                <div class = "colorsChips">

                    <label class = "LabelStepper">Selecciona un tipo de competición para el juego:</label>
                    <mat-chip-list class="mat-chip-list-stacked">
                      <mat-chip *ngFor="let tipo of seleccionTipoJuegoCompeticion; let i = index" selected [color]="tipo.color"  selected="{{seleccionTipoJuegoCompeticion[i].selected}}"
                         (click)="TipoDeJuegoCompeticionSeleccionado(seleccionTipoJuegoCompeticion[i])" [value]="tipo.nombre" [selectable]="true">
                          {{tipo.nombre}}
                      </mat-chip>
                    </mat-chip-list>
                    <span style ="font-weight: bold;color:green;"> Has elegido ... {{tipoDeJuegoSeleccionado}} ... {{tipoJuegoCompeticionSeleccionado}}</span>

                </div>


                <div class="btnCambiarStep">
                  <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                  <button [disabled]="isDisabled" type="button" class="btn Next" matStepperNext>Siguiente</button>
                </div>
              </mat-step>

              <!-- TERCER PASO: SELECTION DE TIPO DE COMPETICION -->

              <mat-step>
                <ng-template matStepLabel><div>Modo De Juego</div></ng-template>

                  <div class = "colorsChips">

                    <label class = "LabelStepper">Selecciona un modo de juego:</label>
                    <mat-chip-list class="mat-chip-list-stacked">
                      <mat-chip *ngFor="let tipo of seleccionModoJuego; let i = index" selected [color]="tipo.color"  selected="{{seleccionModoJuego[i].selected}}"
                         (click)="ModoDeJuegoSeleccionado(seleccionModoJuego[i])" [value]="tipo.nombre" [selectable]="true" >
                          {{tipo.nombre}}
                      </mat-chip>
                    </mat-chip-list>
                    <span style ="font-weight: bold;color:green;"> Has elegido ... {{tipoDeJuegoSeleccionado}}... {{tipoJuegoCompeticionSeleccionado}} ... {{modoDeJuegoSeleccionado}} </span>

                  </div>



                    <div class="btnCambiarStep">
                      <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                      <button type="button" class="btn Next"  matStepperNext>Siguiente</button>

                    </div>

              </mat-step>

               <!-- CUARTO PASO: NUMERO DE JORNADAS-->

                  <mat-step [stepControl]="myForm">
                    <ng-template matStepLabel><div>Número de jornadas</div></ng-template>

                        <!-- casilla para introducir jornadas -->
                            <mat-form-field>
                              <mat-label>Número de jornadas</mat-label>
                              <input matInput formControlName="NumeroDeJornadas" required>
                            </mat-form-field>

                        <div *ngIf="tipoJuegoCompeticionSeleccionado === 'Liga'">
                            <div *ngIf="modoDeJuegoSeleccionado === 'Individual'">
                            <mat-label>Si desea realizar la liga de una vuelta escriba {{this.alumnosGrupo.length - 1}}</mat-label>
                            </div>

                            <div *ngIf="modoDeJuegoSeleccionado === 'Equipos'">
                            <mat-label>Si desea realizar la liga de una vuelta escriba {{this.equiposGrupo.length - 1}}</mat-label>
                            </div>

                          <div class="btnCambiarStep">
                              <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                              <button type="button" class="btn Next"  [disabled]="isDisabledModo" matStepperNext (click) = "CrearJuegoCorrespondiente()">Siguiente</button>

                          </div>
                        </div>

                        <div *ngIf="tipoJuegoCompeticionSeleccionado !== 'Liga'">
                          <div class="btnCambiarStep">
                            <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                            <button type="button" class="btn Next" matStepperNext>Siguiente</button>
                          </div>
                        </div>

                  </mat-step>


                  <!-- QUINTO PASO: PUNTOS-->
                  <div *ngIf="tipoJuegoCompeticionSeleccionado === 'Fórmula Uno'">

                    <mat-step>
                      <ng-template matStepLabel><div>Establecer Puntuación</div></ng-template>

                      <div class="contenedor">
                        <div class="enColumna">
                          <div [formGroup]="myForm1" class = "enFila" style="width: 80%">

                            <div style="margin-top: 15px;">
                              <span>Establecer Puntos: </span>
                              <mat-form-field>
                                <mat-label>Establecer Puntos:</mat-label>
                                <input matInput formControlName="NuevaPuntuacion" placeholder="Escribe los Puntos" requiered [(ngModel)]="NuevaPuntuacion" (change) = "ActualizarBotonTabla()">
                              </mat-form-field>
                            </div>
                            <div style="margin-top: 10px">
                              <button type="button"class="btn Aceptar" [disabled]="botonTablaDesactivado" (click) = AnadirPuntos()>Añadir los Puntos</button>
                            </div>
                            <div style="margin-top: 10px">
                              <button type="button"class="btn Aceptar" (click) = AnadirJugadorconPuntos()>Añadir Jugador</button>
                            </div>
                          </div>

                          <form style="width: 100%">
                            <table style="width: 100%" align="center" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                              <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla">
                                  <mat-checkbox
                                                (change)="$event ? MasterToggle() : null; ActualizarBotonTabla ();"
                                                [checked]="selection.hasValue() && IsAllSelected()"
                                                [indeterminate]="selection.hasValue() && !IsAllSelected()">
                                  </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                  <mat-checkbox
                                                (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null; ActualizarBotonTabla ();"
                                                [checked]="selection.isSelected(row)">

                                  </mat-checkbox>

                                </td>
                              </ng-container>

                              <!-- Posicion Column -->
                              <ng-container matColumnDef="Posicion">
                                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Posicion </th>
                                <td mat-cell style= "text-align: center" *matCellDef="let tablaPuntuacion"> {{tablaPuntuacion.Posicion}} </td>
                              </ng-container>

                              <!-- Puntos Column -->
                              <ng-container matColumnDef="Puntos">
                                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Puntos </th>
                                <td mat-cell *matCellDef="let tablaPuntuacion; "> {{tablaPuntuacion.Puntuacion}} </td>
                              </ng-container>


                              <tr mat-header-row *matHeaderRowDef="displayedColumnsTablaPuntuacion"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumnsTablaPuntuacion;"></tr>

                            </table>
                          </form>
                        </div>
                      </div>

                      <div class="btnCambiarStep">
                        <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                        <button type="button" class="btn Next"  [disabled]="isDisabledModo" matStepperNext (click) = "CrearJuegoCorrespondiente()">Siguiente</button>

                      </div>
                    </mat-step>
                  </div>

                  <mat-step>
                    <ng-template matStepLabel>Finalizar</ng-template>

                          <div class="btnCambiarStep">
                            <div *ngIf="tipoJuegoCompeticionSeleccionado === 'Liga'">
                              <button type="button" class="btn Aceptar" (click) = "Finalizar();">Finalizar</button>
                              <button type="button" class="btn Aceptar" (click) = Finalizar();  routerLink = "juegoSeleccionadoActivo">Finalizar y Editar</button>
                            </div>

                            <div *ngIf="tipoJuegoCompeticionSeleccionado !== 'Liga'">
                              <button type="button" class="btn Aceptar" (click) = "Finalizar();">Finalizar</button>
                            </div>
                          </div>
                  </mat-step>

          </div>

          <div *ngIf="tipoDeJuegoSeleccionado !== 'Juego De Competición'">
            <mat-step>
              <ng-template matStepLabel>Finalizar</ng-template>

                <span *ngIf="tipoDeJuegoSeleccionado === 'Juego De Colección'" style ="font-weight: bold;color:green;"> Has creado ... {{tipoDeJuegoSeleccionado}}: {{nombreColeccionSeleccionada}} ... {{modoDeJuegoSeleccionado}} </span>
                <span *ngIf="tipoDeJuegoSeleccionado === 'Juego De Puntos'" style ="font-weight: bold;color:green;"> Has creado ... {{tipoDeJuegoSeleccionado}} ... {{modoDeJuegoSeleccionado}} </span>
                    <div class="btnCambiarStep">
                      <button type="button" class="btn Aceptar" (click) = "Finalizar();">Finalizar</button>
                    </div>
            </mat-step>
          </div>

          </mat-horizontal-stepper>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>

</div>
<!-- <div class="enColumna"> <button type="button" class="btn Back" (click)="goBack()">Volver </button>
</div> -->

