<div class="titulo">Juegos</div>
<mat-divider class="lineaDivisoria"></mat-divider>


<div class="contenedor">

<mat-tab-group [color]="primary" [backgroundColor]="primary" #tabs>

  <!-- ///////////////////////////////////////// LISTA DE JUEGOS  //////////////////////////////////////////////////-->

  <mat-tab index = "0" label="Lista de juegos">

    <br>
    <br>
    <form>

        <div >
          <mat-list>

                <!-- ///////////////////////// LISTA DE JUEGOS ACTIVOS /////////////////////////////////-->
                <h3 class = "CabeceraActivos" style= "color: white;font-style: bold;font-size: 2em;" mat-subheader>Juegos Activos</h3>

                <form *ngIf="juegosActivos ;else Aviso_no_juegos_activos">
                  <mat-list-item *ngFor="let juego of juegosActivos" (click) = JuegoSeleccionado(juego) routerLink = "juegoSeleccionadoActivo">

                    <mat-icon mat-list-icon><i class="material-icons green">check_circle_outline</i></mat-icon>
                    <h4 mat-line>{{juego.Tipo}}</h4>
                    <p mat-line> {{juego.Modo}} </p>
                  </mat-list-item>
                </form>
                <ng-template #Aviso_no_juegos_activos>
                  No hay juegos activos
                </ng-template>
                <!-- <ng-template #Aviso_no_juegos_activos>
                    <label><i class="material-icons green">error_outline</i>
                      No hay juegos activos</label>
                </ng-template> -->

            <!-- ///////////////////////// LISTA DE JUEGOS INACTIVOS /////////////////////////////////-->
            <br>
            <br>
            <h3 class = "CabeceraInactivos" style= "color: white;font-style: bold;font-size: 2em;" mat-subheader>Juegos Inactivos</h3>
              <form *ngIf="juegosInactivos;else Aviso_no_juegos_inactivos">
                  <mat-list-item *ngFor="let juego of juegosInactivos" (click) = JuegoSeleccionado(juego) routerLink = "juegoSeleccionadoInactivo">
                    <mat-icon mat-list-icon><i class="material-icons red">history</i></mat-icon>
                    <h4 class= "ItemsInactivos" mat-line>{{juego.Tipo}}</h4>
                    <p class= "ItemsInactivos" mat-line> {{juego.Modo}} </p>
                  </mat-list-item>


              </form>
              <ng-template #Aviso_no_juegos_inactivos>
                  No hay juegos inactivos
              </ng-template>

          </mat-list>

        </div>

    </form>
  </mat-tab>





 <!-- ////////////////////////////////////////////// CREAR JUEGO  //////////////////////////////////////////////////-->

  <mat-tab label="Crear juego">

    <form>
      <mat-card class="panel" style="width: 90%">

        <mat-card-content>
          <mat-horizontal-stepper #stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true">


        <!-- /////////////////////// PRIMER PASO: SELECCIÓN DEL TIPO DE JUEGO ////////////////////////////////-->
          <mat-step>
            <ng-template matStepLabel>Tipo De Juego</ng-template>


              <div class = "colorsChips">

                <label class = "LabelStepper">Selecciona un tipo de juego:</label>
                <mat-chip-list class="mat-chip-list-stacked">
                    <mat-chip *ngFor="let tipo of seleccionTipoJuego; let i = index" selected [color]="tipo.color"  selected="{{seleccionTipoJuego[i].selected}}"
                    (click)="TipoDeJuegoSeleccionado(seleccionTipoJuego[i])" [value]="tipo.nombre" [selectable]="true">
                      {{tipo.nombre}}
                    </mat-chip>
                </mat-chip-list>
                <span style = "font-weight: bold;color:green;" color = "secundary">Has elegido ... {{tipoDeJuegoSeleccionado}} </span>
              </div>

              <div class="btnCambiarStep">
                  <button [disabled]="isDisabled" type="button" class="btn Next" matStepperNext>Siguiente</button>
              </div>



          </mat-step>



          <!-- //////////////////////// SEGUNDO PASO: SELECCIÓN DEL MODO DE JUEGO ///////////////////////// -->
          <mat-step>
            <ng-template matStepLabel><div>Modo De Juego</div></ng-template>

              <div class = "colorsChips">

                <label class = "LabelStepper">Selecciona un modo de juego:</label>
                <mat-chip-list class="mat-chip-list-stacked">
                  <mat-chip *ngFor="let tipo of seleccionModoJuego; let i = index" selected [color]="tipo.color"  selected="{{seleccionModoJuego[i].selected}}"
                     (click)="ModoDeJuegoSeleccionado(seleccionModoJuego[i])" [value]="tipo.nombre" [selectable]="true" >
                      {{tipo.nombre}}
                  </mat-chip>
                </mat-chip-list>
                <span style ="font-weight: bold;color:green;"> Has elegido ... {{tipoDeJuegoSeleccionado}} ... {{modoDeJuegoSeleccionado}} </span>

              </div>



                <div class="btnCambiarStep">
                  <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                  <button type="button" class="btn Next"  [disabled]="isDisabledModo" matStepperNext (click) = "CrearJuegoCorrespondiente()">Siguiente</button>
                </div>

          </mat-step>


          <!-- ////////////////////////////SI ESCOGEMOS EL JUEGO DE TIPO DE PUNTOS ////////////////////////////////-->

          <div *ngIf="(tipoDeJuegoSeleccionado === 'Juego De Puntos' && juegoCreado === true)">

            <!-- TERCER PASO: ASIGNACIÓN DE PUNTO AL JUEGO -->
            <mat-step>
              <ng-template matStepLabel><div>Asignación De Puntos</div></ng-template>

              <label class = "LabelStepper">Selecciona los tipos de puntos</label>
              <!-- Saltamos al componente de asignación -->
              <app-asignacion-punto-juego></app-asignacion-punto-juego>

            </mat-step>


            <!-- CUARTO PASO: CREACIÓN DE NIVELES-->
            <mat-step>
              <ng-template matStepLabel><div>Creación de Niveles</div></ng-template>

                <label class = "LabelStepper">Añade los niveles que desees</label>
                  <!-- Activamos el componente para crear nivel -->
                  <app-crear-nivel ></app-crear-nivel>

                  <div class="btnCambiarStep">
                      <button type="button" class="btn Next"  matStepperNext>Siguiente</button>
                  </div>

            </mat-step>
          </div>


          <!-- ////////////////////////////SI ESCOGEMOS EL JUEGO DE TIPO DE COLECCIÓN ////////////////////////////////-->

          <div *ngIf="tipoDeJuegoSeleccionado === 'Juego De Colección'">
            <div *ngIf="juegoCreado === true">



            <!-- TERCER PASO: ASIGNACIÓN DE COLECCIÓN AL JUEGO -->
            <mat-step>
                <ng-template matStepLabel><div>Asignación De La Colección</div></ng-template>

                <label class = "LabelStepper">Selecciona una colección para el juego</label>
                <!-- Nos vamos al componente para asignar la colección -->
                <app-asignacion-coleccion-juego></app-asignacion-coleccion-juego>

              </mat-step>
            </div>

          </div>


          <!-- ////////////////////// SI ESCOGEMOS EL JUEGO DE TIPO DE COMPETICIÓN ////////////////////////////////-->

          <div *ngIf="tipoDeJuegoSeleccionado === 'Juego De Competición'">

            <!-- TERCER PASO: SELECTION DE TIPO DE COMPETICION -->

            <mat-step>
                <ng-template matStepLabel><div>Tipo De Competición</div></ng-template>

                <div class = "colorsChips">

                    <label class = "LabelStepper">Selecciona un tipo de competición para el juego:</label>
                    <mat-chip-list class="mat-chip-list-stacked">
                      <mat-chip *ngFor="let tipo of seleccionTipoJuegoCompeticion; let i = index" selected [color]="tipo.color"  selected="{{seleccionTipoJuegoCompeticion[i].selected}}"
                         (click)="TipoDeJuegoCompeticionSeleccionado(seleccionTipoJuegoCompeticion[i])" [value]="tipo.nombre" [selectable]="true">
                          {{tipo.nombre}}
                      </mat-chip>
                    </mat-chip-list>

                </div>

                <div class="btnCambiarStep">
                  <button type="button" class="btn Back" matStepperPrevious>Atrás</button>
                  <button type="button" class="btn Next" matStepperNext>Siguiente</button>
                </div>
              </mat-step>


               <!-- CUARTO PASO: NUMERO DE JORNADAS-->
                <mat-step>
                  <ng-template matStepLabel><div>Número de jornadas</div></ng-template>

                    <label class="example-container"></label>
                      <!-- casilla para introducir jornadas -->
                      <mat-label>Número de jornadas</mat-label>
                      <div class="numerodejornadas">

                        <mat-form-field>
                          <input matInput placeholder="Introduzca el Número de jornadas" >
                          <!-- <input (keyup)="Disabled()" matInput formControlName="numerodejornadas" required> -->
                        </mat-form-field>

                      </div>

                      <div *ngIf="modoDeJuegoSeleccionado === 'Individual'">
                      <mat-label>Si desea realizar la liga de una vuelta escriba {{this.alumnosGrupo.length - 1}}</mat-label>
                      </div>

                      <div *ngIf="modoDeJuegoSeleccionado === 'Equipos'">
                      <mat-label>Si desea realizar la liga de una vuelta escriba {{this.equiposGrupo.length - 1}}</mat-label>
                      </div>

                      <div class="btnCambiarStep">
                          <button type="button" class="btn Next"  matStepperNext>Siguiente</button>
                      </div>

                </mat-step>


          </div>


          <mat-step>
            <ng-template matStepLabel>Finalizar</ng-template>
              Juego creado correctamente
              <div class="btnCambiarStep">
                <button type="button" class="btn Aceptar" (click) = "Finalizar();">Finalizar</button>
              </div>
          </mat-step>

          </mat-horizontal-stepper>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
</mat-tab-group>

</div>
<div class="enColumna"> <button type="button" class="btn Back" (click)="goBack()">Volver </button>
</div>

