<div class="titulo">Juego de votación rápida</div>
<mat-divider style="width: 70%; margin-left : 15%"></mat-divider>



<div class="contenedor">
  <br>
  <div class = "enColumna">
    <button  type="button"  (click) = "EliminarJuegoRapido()" class="btn Eliminar" style = "width: 50%">Eliminar juego rápido</button>
  </div>
  <br>

  <mat-tab-group >
    <mat-tab  *ngIf = "juegoSeleccionado" label="Información para la conexión y participantes">
      <div class = "enFila">

        <div style = 'width: 50%' class = "enColumna">
        <br>
        <br>
        <h3> Enlace para la conexión</h3>
        <h1><strong>147.83.118.92:8100/home</strong></h1>
        <br>
        <img src="../assets/QR.png" style = "width: 200px"/>
        <br>
        <h3> Clave</h3>
        <h1><strong>{{juegoSeleccionado.Clave}}</strong></h1>
        <br>
        <br>
        <img src="../assets/ImagenLogin.png" style = "width: 500px"/>
        <!-- <button  *ngIf = "mostrarParticipantes" type="button"  (click) = "Toogle()" class="btn Aceptar" style = "width: 20%">Mostrar resultados</button>
        <button  *ngIf = "!mostrarParticipantes" type="button"  (click) = "Toogle()" class="btn Aceptar" style = "width: 20%">Mostrar participantes</button> -->
        </div>
        <div style = 'width: 50%'>
          <br>
          <br>

          <h3 align = "center"> Participantes</h3>
          <br>
          <div style ="display: inline-block; padding: 10px;" *ngFor="let participante of participantes; let i=index">
                  <h2 *ngIf = "!participante.contestado" style="color: red"> {{participante.nickName}}  </h2>
                  <h2 *ngIf = "participante.contestado" style="color: green"> {{participante.nickName}}  </h2>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Participantes">
      <br>
      <br>

        <h3 align = "center"> Participantes</h3>
        <div style ="display: inline-block; width: 20%;" *ngFor="let participante of participantes; let i=index">
                <h2 *ngIf = "!participante.contestado" style="color: red"> {{participante.nickName}}  </h2>
                <h2 *ngIf = "participante.contestado" style="color: green"> {{participante.nickName}}  </h2>
        </div>

    </mat-tab> -->

    <mat-tab label="Resultados">

      <div class= "enColumna" >
      <br>
      <br>
      <h4><strong>Número de participantes:  </strong>{{numeroRespuestas}}</h4>
      <h4><strong>Número de respuestas:  </strong>{{numeroRespuestas}} ({{((numeroRespuestas/numeroRespuestas)*100).toFixed(0)}}%)</h4>
      <br>
      <br>
      <h3><strong>Resultados</strong></h3>
      <br>
      <button  type="button"  (click) = "GenerarInforme()" class="btn Aceptar" style = "width: 50%">Genera un informe en PDF con los resultados</button>
      <br>
      <table style = "width: 60%"  id = 'tabla' align= "center"  mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">

            <ng-container matColumnDef="concepto" >
              <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla"> Concepto  </th>
              <td mat-cell style= "text-align: left"  *matCellDef="let dato"> {{dato.concepto}} </td>
            </ng-container>

            <!-- Descripcion Column -->
            <ng-container matColumnDef="puntos" >
              <!-- La clase header-align-right esta definida en el css local -->
              <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla header-align-right"> Puntos </th>
              <td mat-cell style= "text-align: right"  *matCellDef="let dato"> {{dato.puntos}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>



      </div>
    </mat-tab>
  </mat-tab-group>

</div>


