<div class="titulo">Mis recursos de libros</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enFila" style="width: 60%; align-content: left;">
    <div>
      Seleccione un pack
      <br>
      <mat-form-field>
        <mat-label>Pack de recursos</mat-label>
        <select matNativeControl [(ngModel)]="recursoId" (change)="traeImagenesRecursoLibro()">
          <option *ngFor="let recurso of listaRecursos" [value]="recurso.id">
            <p>{{recurso.nombre}}</p>
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="recursoCargadoPregunta">
    <h2>Este grupo de recursos se llama : {{nombreFamila}}</h2>
    <h2>Personajes:</h2>

    <div>
      <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile *ngFor='let imageF of listaFotosPersonajes'>
          <mat-card>

            <img [src]='imageF'>

          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <h2>Fondos:</h2>

    <div>
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile *ngFor='let imageP of listaFotosFondos'>
          <mat-card>

            <img [src]='imageP' height="700" width="700">
          </mat-card>


        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <h2>Objetos:</h2>

    <div>
      <mat-grid-list cols="5" rowHeight="1:1">
        <mat-grid-tile *ngFor='let imageO of listaFotosObjetos'>
          <mat-card>
            <img [src]='imageO' height="250" width="250">

          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>


  </div>

</div>