<!-- <head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
</head> -->
<div class ="contenedor" >
  <div class= "enColumna" >


    <div class="enFila" style = "width: 50%">
          <button type="button" class="btn Info" (click) = "GenerarInforme()">Generar informe en PDF<i class="material-icons">info</i></button>
          <button type="button" class="btn Eliminar" (click) = "DesactivarJuego()"> Desactivar<i class="material-icons">history</i></button>
    </div>
    <br>
    <br>
    <h4><strong>Número de participantes:  </strong>{{inscripciones.length}}</h4>
    <h4><strong>Número de respuestas:  </strong>{{numeroRespuestas}} ({{((numeroRespuestas/inscripciones.length)*100).toFixed(0)}}%)</h4>
    <br>
    <br>
    <h3><strong>Respuestas a las afirmaciones</strong></h3>

    <div class= "enFila" style= 'width: 200%'>


      <div style= 'width: 50%'>
        <table  id = 'tabla' style= "margin-top: 10%" align= "center" *ngIf="informacionPreparada" mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">

          <ng-container matColumnDef="afirmacion">
            <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla"> Afirmacion  </th>
            <td mat-cell style= "text-align: left"  *matCellDef="let afirmacion"> {{afirmacion.Texto}} </td>
          </ng-container>

          <!-- Descripcion Column -->
          <ng-container matColumnDef="media">
            <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla"> Media </th>
            <td mat-cell style= "text-align: left"  *matCellDef="let afirmacion"> {{(afirmacion.Media).toFixed(2)}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </div>

      <div  id = 'grafico' style= 'width: 50%'>
        <div align = "center" echarts [options]="grafico"  theme="macarons" class="demo-chart"></div>
      </div>

    </div>


    <br>
    <br>

    <h3><strong>Respuestas a las preguntas abiertas</strong></h3>


    <br>
    <br>


    <mat-accordion>
        <mat-expansion-panel *ngFor="let respuestas of respuestasPreguntasAbiertas; let i = index">
          <mat-expansion-panel-header>

            <mat-panel-title>
              {{cuestionario.PreguntasAbiertas[i]}}
            </mat-panel-title>

          </mat-expansion-panel-header>
          <div class="enColumna">
                <div>
                <span style="font-weight: bold; margin-left: 16px; font-size: 130%;">Respuestas</span>
                <mat-list role="list" >
                    <mat-list-item role="listitem" *ngFor="let respuesta of respuestas">
                      {{respuesta}}
                    </mat-list-item>
                </mat-list>
                </div>
          </div>

        </mat-expansion-panel>
    </mat-accordion>



  </div>
</div>
