
<div class="titulo">{{juegoSeleccionado.Tipo}}</div>
<div class="subtitulo">{{juegoSeleccionado.Modo}}</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Puntos'">
  <app-juego-de-puntos-seleccionado-activo></app-juego-de-puntos-seleccionado-activo>
</div>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Colección'">
  <app-juego-de-coleccion-seleccionado-activo></app-juego-de-coleccion-seleccionado-activo>
</div>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Competición Liga'">
  <app-juego-de-competicion-seleccionado-activo></app-juego-de-competicion-seleccionado-activo>
</div>

<div class="enColumna"> <button type="button" class="btn Back" (click)="goBack()">Volver</button>
</div>
