<div class="titulo">Recursos</div>
<mat-divider class="lineaDivisoria"></mat-divider>
<div class = "contenedor">
  <div class = "enColumna">
    <div class = "enFila" style = "height: 50%">
      <div class = "enColumna" style = "background: rgb(224, 180, 84); width:33%">
        <div style = "height: 20%"><h3>Preguntas</h3></div>
        <div style = "height: 50%">
          <img src="../assets/pregunta.png" class = "imagenPanelRecursos" />
        </div>
        <div class ="enFila" style = "width:40%; height: 30%">
          <button type="button"  (click) = "NavegarA('/misPreguntas')" class="btn Eliminar" >Ver</button>
          <button type="button" (click) = "NavegarA('/crearPregunta')" class="btn Aceptar">Crear</button>
        </div>
      </div>
      <div class = "enColumna" style = "background:khaki; width:33%">
        <div style = "height: 20%"><h3>Cuestionarios</h3></div>
        <div style = "height: 50%">
          <img src="../assets/cuestionario.png" class = "imagenPanelRecursos" />
        </div>
        <div class ="enFila" style = "width:40%; height: 30%">
          <button type="button"  (click) = "NavegarA('/misCuestionarios')" class="btn Eliminar" >Ver</button>
          <button type="button" (click) = "NavegarA('/crearCuestionario')" class="btn Aceptar">Crear</button>
        </div>
      </div>

      <div class = "enColumna" style = "background: rgb(144, 233, 141);width:33%">
        <div style = "height: 20%"><h3>Colecciones</h3></div>
        <div style = "height: 50%">
          <img src="../assets/coleccion.png" class = "imagenPanelRecursos" />
        </div>
        <div class ="enFila" style = "width:40%; height: 30%">
          <button type="button"  (click) = "NavegarA('/misColecciones')" class="btn Eliminar" >Ver</button>
          <button type="button" (click) = "NavegarA('/crearColeccion')" class="btn Aceptar">Crear</button>
        </div>
      </div>
    </div>
    <div class = "enFila" style = "height: 50%">
      <div class = "enColumna" style = "background: rgb(123, 184, 219);width:33%">
        <div style = "height: 20%"><h3>Puntos e insignias</h3></div>
        <div style = "height: 50%">
          <img src="../assets/punto.png" class = "imagenPanelRecursos" />
        </div>
        <div class ="enFila" style = "width:40%; height: 30%">
          <button type="button"  (click) = "NavegarA('/misPuntos')" class="btn Eliminar" >Ver</button>
          <button type="button" (click) = "NavegarA('/crearPuntos')" class="btn Aceptar">Crear</button>
        </div>
      </div>
      <div class = "enColumna" style = "background: rgb(228, 137, 175);width:33%">
        <div style = "height: 20%"><h3>Escenarios</h3></div>
        <div style = "height: 50%">
          <img src="../assets/ruta.png" class = "imagenPanelRecursos" />
        </div>
        <div class ="enFila" style = "width:40%; height: 30%">
          <button type="button"  (click) = "NavegarA('/misEscenarios')" class="btn Eliminar" >Ver</button>
          <button type="button" (click) = "NavegarA('/crearEscenario')" class="btn Aceptar">Crear</button>
        </div>
      </div>
      <div class = "enColumna" style = "background: rgb(129, 125, 126);width:33%">
        <div style = "height: 20%"><h3>Avatares</h3></div>
        <div style = "height: 50%">
          <img src="../assets/avatar.png" class = "imagenPanelRecursos" />
        </div>
        <div class ="enFila" style = "width: 40%; height: 30%">
          <button  type="button"  (click) = "NavegarA('/misFamiliasAvatares')" class="btn Eliminar" >Ver</button>
          <button  type="button" (click) = "NavegarA('/crearFamiliaAvatares')" class="btn Aceptar">Crear</button>
        </div>
      </div>
    </div>
    <div class = "enFila" style = "height: 50%">
      <div class = "enColumna" style = "background: rgb(197, 105, 82);width:33%">
        <div style = "height: 20%"><h3>Rúbricas</h3></div>
        <div style = "height: 50%">
          <img src="../assets/rubrica.png" class = "imagenPanelRecursos" />
        </div>
        <div class ="enFila" style = "width: 40%; height: 30%">
          <button  type="button"  (click) = "NavegarA('/misRubricas')" class="btn Eliminar" >Ver</button>
          <button  type="button" (click) = "NavegarA('/crearRubrica')" class="btn Aceptar">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>

