
<div class="titulo">Editar escenario</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enColumna">
   <div class="enFila">

          <div class="enColumna">
              <span style="font-weight: bold;">Mapa y descripción del escenario: </span>
              <input style="background-color: transparent" type="text" name="mapa" placeholder="Escribe el nombre del mapa" (change) = "cambios=true" requiered [(ngModel)]="mapaEscenario">
              <input style="background-color: transparent" type="text" name="descripcion" placeholder="Escribe la descripcion" (change) = "cambios=true" requiered [(ngModel)]="descripcionEscenario">
              <br>
              <br>
              <button *ngIf = "cambios" type="button" class="btn Aceptar"  (click)= "EditarEscenario()">Aceptar Cambios <i class="material-icons">
                  check </i></button>
          </div>


    </div>
    <br>
    <br>
    <mat-divider class="lineaDivisoria"></mat-divider>

    <div>
      <form *ngIf="puntosgeolocalizablesEscenario; else Aviso_no_puntosgeolocalizables">

        <div>
          <p style="margin: 10px">
            <span style="font-weight: bold;">PuntosGeolocalizables del escenario</span>
          </p>
        </div>

        <table  align="center" mat-table [dataSource]="puntosgeolocalizablesEscenario" class="example-container mat-elevation-z8">

          <ng-container matColumnDef="nombrePuntoGeolocalizable">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 30%"> Nombre </th>
            <td mat-cell *matCellDef="let puntogeolocalizable"> {{puntogeolocalizable.Nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
            <td mat-cell *matCellDef="let puntogeolocalizable">
              <button (click)= "AbrirDialogoEditarPuntoGeolocalizable(puntogeolocalizable)" mat-icon-button matTooltip="Editar el puntogeolocalizable {{puntogeolocalizable.Nombre}}">
                <i class="material-icons green md-36">edit</i>
              </button>
            </td>
        </ng-container>

          <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
            <td mat-cell *matCellDef="let puntogeolocalizable">
              <button (click) = "BorrarPuntoGeolocalizable(puntogeolocalizable)" mat-icon-button matTooltip="Borrar el puntogeolocalizable {{puntogeolocalizable.Nombre}}">
                <i class="material-icons red md-36">delete</i>
              </button>
            </td>
          </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
      </form>
      <ng-template #Aviso_no_puntosgeolocalizables>No hay puntos geolocalizables en este escenario</ng-template>
      
    </div>


    
    <button type="button" class="btn Agregar" (click) = AbrirDialogoAgregarPuntoGeolocalizableEscenario()>
        Agregar PuntoGeolocalizable <i class="material-icons">library_add</i>
    </button>

    <button type="button" class="btn Back" (click)="goBack()">Volver </button>

  </div>

</div>
