.resultados {
    width: 100%;
}
  
.mat-column-opcion {
    width: 90%;
    padding-right: 24px;
    text-align: left;
}
  
.mat-column-puntos {
    width: 10%;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
