<p>
  votacionescuento works!
</p>

<form style="width: 100%" *ngIf="juegoSeleccionado.Modo === 'Individual'">

  <table style="width: 100%" align="center" mat-table [dataSource]="datasourcelibros"
    class="example-container mat-elevation-z8">


    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> TITULO </th>
      <td mat-cell *matCellDef="let libro"> {{libro.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> autor </th>
      <td mat-cell *matCellDef="let libro"> {{libro.autor}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</form>