
<form [formGroup]="myForm" style="width: 100%" *ngIf="juegoSeleccionado.Modo === 'Individual'">

  <table style="width: 50%" align="center" mat-table [dataSource]="datasourcelibros"
    class="example-container mat-elevation-z8">


    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> TITULO </th>
      <td mat-cell *matCellDef="let libro, let i = index"> {{libro.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> autor </th>
      <td mat-cell *matCellDef="let libro,  let i = index"> {{libro.autor}} </td>
    </ng-container>

    <ng-container matColumnDef="criterio1">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> criterio1 </th>
      <td mat-cell *matCellDef="let libro,  let i = index"> {{libro.criterio1}} </td>
    </ng-container>

    
    <ng-container matColumnDef="criterio2">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> criterio2</th>
      <td mat-cell *matCellDef="let libro,  let i = index"> {{libro.criterio2}} </td>
    </ng-container>
    
    <ng-container matColumnDef="criterio3">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> criterio3 </th>
      <td mat-cell *matCellDef="let libro,  let i = index"> {{libro.criterio3}} </td>
    </ng-container>
        
    <ng-container matColumnDef="criteriototal">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 15%"> criteriototal </th>
      <td mat-cell *matCellDef="let libro,  let i = index"> {{libro.criteriototal}} </td>
    </ng-container>




    <ng-container matColumnDef=" ">
      <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center"></th>
      <td mat-cell *matCellDef="let libro; let i = index">
        <div *ngIf = "(i == 0)"><i class="material-icons" style="color: green; font-size:xx-large;">emoji_events</i></div>
      </td>
    </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <br>

    <h3 align="center">Elegir ganadores  </h3>



    <!-- <mat-form-field c1="fill">
      <mat-label>Primer puesto</mat-label>
      <select matNativeControl required  formControlName="c1">
        <option *ngFor="let libro of listaLibros"  [value]="libro.titulo">{{libro.titulo}}</option>
      </select>
    </mat-form-field>
     -->

<!-- 
  
<mat-card align="center">
    <mat-form-field  style="width: 60%"  margin= "30px" align="center">
      <mat-label>Primer puesto</mat-label>
      <select matNativeControl [(ngModel)]="ganador"  (selectionChange) = "Seleccionaganador($event)">
        <option *ngFor="let libro of listaLibros; index as i " [value]="libro.titulo">

          <p>{{libro.titulo}}</p>
      
        </option>
      </select>
    </mat-form-field> -->

    <!-- <mat-form-field>
      <mat-label>Segundo puesto</mat-label>
        <mat-select (selectionChange)="selectOpt($event)" required formControlName="country">
        <mat-option *ngFor="let libro of listaLibros" [value]="libro.titulo" >
          {{libro.titulo}}
        </mat-option>
      </mat-select>
    </mat-form-field>
 -->
<!-- 
 <mat-form-field c1="fill">
  <mat-label>Peso del primer criterio</mat-label>
  <select matNativeControl required  formControlName="c1">
    <option value="1">1</option>
    <option value="1.5">1.5</option>
    <option value="2">2</option>
  </select>
</mat-form-field> -->
<!-- 

    <mat-form-field  style="width: 60%"  margin= "30px" align="center">
      <mat-label>Tercer puesto</mat-label>
      <select matNativeControl [(ngModel)]="ganador3"  (selectionChange) = "Seleccionaganador3()">
        <option *ngFor="let libro of listaLibros; index as i " [value]="libro.titulo">

          <p>{{libro.titulo}}</p>
      
        </option>
      </select>
    </mat-form-field>

  </mat-card> -->
    

   

</form>

<div [formGroup]="ganadorform">


   <mat-form-field g1="fill">
      <mat-label>Primer puesto</mat-label>
      <select matNativeControl required  formControlName="g1">
        <option *ngFor="let libro of listaLibros"  [value]="libro.titulo">{{libro.titulo}}</option>
      </select>
    </mat-form-field>

    <mat-form-field g2="fill">
      <mat-label>Segundo puesto</mat-label>
      <select matNativeControl required  formControlName="g2">
        <option *ngFor="let libro of listaLibros"  [value]="libro.titulo">{{libro.titulo}}</option>
      </select>
    </mat-form-field>

    <mat-form-field g3="fill">
      <mat-label>Tercer puesto</mat-label>
      <select matNativeControl required  formControlName="g3">
        <option *ngFor="let libro of listaLibros"  [value]="libro.titulo">{{libro.titulo}}</option>
      </select>
    </mat-form-field>


</div>

<button type="button" class="btn Info" (click)="guardar()">Finalizar concurso<i class="material-icons"></i></button>
