<div class="titulo">Crear Pregunta</div>
<mat-divider class="lineaDivisoria"></mat-divider>
<div class = "contenedor" >

  <mat-tab-group>
    <mat-tab label="Cargar preguntas desde fichero">
      <div class= "enColumna" *ngIf ="advertencia" style = "border-color: red;">
        <!-- para preservar los espacios y los tabs del texto -->
        <pre>
        <br>
        La información de las preguntas debe estar en un fichero <strong>JSON</strong>
        con el contenido mostrado en el siguiente ejemplo. La imagen deben ser cuadrada.
          [
            {{'{'}}
                "Titulo": "suma",
                "Pregunta": "¿Cuánto es 7 + 9 ?",
                "Tematica": "Mates",
                "Imagen": "foto_pregunta.png",
                "RespuestaCorrecta": "16",
                "RespuestaIncorrecta1": "15",
                "RespuestaIncorrecta2": "17",
                "RespuestaIncorrecta3": "0",
                "FeedbackCorrecto": "Muy bien",
                "FeedbackIncorrecto": "Fatal",
            {{'}'}},
            {{'{'}}
              ..... otras preguntas
            {{'}'}}

          ]
        </pre>

        <button (click) = 'advertencia = false' style="width: 30%" type="button" class="btn Info">
          Ocultar advertencia
        </button>
      </div>
      <div class = "enFila">
        <div style = "width: 40%">
          <input #file id = "inputImagenes" type="file" accept= 'image/*' (change)="SeleccionarFicherosPreguntas($event)" style="display:none" multiple>
          <input #file id = "inputInfo" type="file" accept= 'application/JSON;' accept-charset="UTF-8" (change)="SeleccionarInfoPreguntas($event)" style="display:none">
          <button style = "height:100px; width:80%" (click) = "ActivarInputInfo()" type="button" class="btn Agregar">
            Seleccionar fichero JSON<i class="material-icons">add_photo_alternate</i>
          </button>
        </div>
        <div class = "enColumna" style = "border-color: red;width: 60%" *ngIf = "hayFicherosRepetidos">
          <h3 style = "color: red">ATENCION</h3>

          <h5 style = "padding: 5%;"> Ya hay ficheros en la base de datos con nombres iguales a algunos que quieres cargar</h5>
          <p *ngFor = "let fichero of ficherosRepetidos">{{fichero}}</p>

          <button (click) = "Cancelar()" type="button" class="btn Eliminar">
              Cancelar
          </button>
        </div>
        <div class = "enColumna" style = "border-color: red;width: 60%" *ngIf = "faltanFicheros">
          <h3 style = "color: red">ATENCION</h3>

          <h5 style = "padding: 5%;"> Necesitas los siguientes ficheros, que no están entre los seleccionados</h5>
          <p *ngFor = "let fichero of ficherosQueFaltan">{{fichero}}</p>

          <button (click) = "Cancelar()" type="button" class="btn Eliminar">
              Cancelar
          </button>
        </div>
        <div class = "enColumna" style = "border-color: red;width: 60%" *ngIf = "ficheroCargado">
          <h3>Nuevas preguntas</h3>
          <div class = "enFila" style = "width: 90%">
              <p> Número de nuevas preguntas: : <strong>{{infoPreguntas.length}}</strong></p>
          </div>
          <div class = "enFila" style = "width:50%">
            <button (click) = "RegistrarPreguntas()" type="button" class="btn Agregar">
              Registrar
            </button>
            <button (click) = "Cancelar()" type="button" class="btn Eliminar">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Introducir nueva pregunta">

          <mat-card class="panel">

              <mat-card-content>
                  <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true" style="width:100%">

                      <!-- PRIMER PASO -->
                      <mat-step>
                        <ng-template matStepLabel>Pregunta</ng-template>

                        <mat-form-field style=  "width: 50%;">
                          <mat-label>Titulo</mat-label>
                          <input matInput [(ngModel)] = "titulo">
                        </mat-form-field>


                        <div class = "colorsChips">

                          <mat-label style = "font-size: smaller;">Tipo de pregunta*    {{tipoDePreguntaSeleccionado}}</mat-label>
                          <mat-chip-list class="mat-chip-list-stacked">
                              <mat-chip style= "width: 300px" *ngFor="let tipo of seleccionTipoPregunta; let i = index" selected [color]="tipo.color"  selected="{{seleccionTipoPregunta[i].selected}}"
                              (click)="TipoDePreguntaSeleccionado(seleccionTipoPregunta[i])" [value]="tipo.nombre" [selectable]="true">
                                {{tipo.nombre}}
                              </mat-chip>
                          </mat-chip-list>
                        </div>
                        <br>

                        <div>
                          <mat-form-field style=  "width: 100%;">
                            <mat-label>Pregunta</mat-label>
                            <input matInput [(ngModel)] = "pregunta">
                          </mat-form-field>
                        </div>

                        <div>
                          <mat-form-field style=  "width: 50%;">
                            <mat-label>Temática</mat-label>
                            <input matInput [(ngModel)] = "tematica">
                          </mat-form-field>
                        </div>

                        <div class="btnCambiarStep">
                           <button  mat-raised-button class="btn Back" style="margin: 5px; display: none" matStepperPrevious>
                            Atrás</button>
                          <button  [disabled]="!tengoDatosBasicos()" mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                              Siguiente
                          </button>
                        </div>

                      </mat-step>

                      <!-- SEGUNDO PASO; AÑADIDO PARA LA INSERCIÓN DE IMAGEN EN LA PREGUNTA (OPCIONAL)-->
                      <mat-step>
                        <ng-template matStepLabel>Imagen</ng-template>
                        <input #file id = "inputImagenPregunta" type="file" accept= 'image/*' (change)="CargarImagenPregunta($event)" style="display:none">
                        <!-- Cuando se cargue la imagen se activara la función que hara que se visualice con tamaño doble -->
                        <img #img *ngIf="imagenPregunta"  [src]="imagenPregunta" width= '300' heigth = '300' style="margin: 5px; ">
                        <button (click) = "ActivarInputImagen()" type="button" class="btn Agregar">
                          Selecciona imagen de pregunta
                        </button>

                        <div class="btnCambiarStep">
                          <!-- Como la imagen es opcional, los botones para avanzar y retroceder estaran siempre activados -->
                          <button  mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                            Atrás</button>
                          <button   mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                            Siguiente
                          </button>
                        </div>

                      </mat-step>



                      <!-- TERCER PASO -->
                      <mat-step *ngIf = "tipoDePreguntaSeleccionado === 'Cuatro opciones'" [stepControl]="myForm2">

                        <ng-template matStepLabel>Definir opciones</ng-template>
                        <mat-form-field style=  "width: 100%;">
                          <mat-label>Respuesta Correcta</mat-label>
                          <input matInput [(ngModel)] = "respuestaCorrecta">
                        </mat-form-field>

                        <div>
                          <mat-form-field style=  "width: 100%;">
                            <mat-label>Respuesta Incorrecta 1</mat-label>
                            <input matInput [(ngModel)] = "respuestaIncorrecta1">
                          </mat-form-field>
                        </div>

                        <div>
                          <mat-form-field style=  "width: 100%;">
                            <mat-label>Respuesta Incorrecta 2</mat-label>
                            <input matInput [(ngModel)] = "respuestaIncorrecta2">
                          </mat-form-field>
                        </div>

                        <div>
                          <mat-form-field style=  "width: 100%;">
                            <mat-label>Respuesta Incorrecta 3</mat-label>
                            <input matInput [(ngModel)] = "respuestaIncorrecta3">
                          </mat-form-field>
                        </div>

                        <div class="btnCambiarStep">
                          <button  mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                            Atrás</button>
                          <button [disabled]="!tengoCuatroOpciones ()" mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                            Siguiente
                          </button>
                        </div>
                      </mat-step>

                         <!-- TERCER PASO -->
                      <mat-step *ngIf = "tipoDePreguntaSeleccionado === 'Respuesta abierta'">
                          <ng-template matStepLabel>Definir respuesta</ng-template>
                          <mat-form-field style=  "width: 100%;">
                            <mat-label>Respuesta Correcta</mat-label>
                            <input matInput [(ngModel)] = "respuestaCorrecta">
                          </mat-form-field>



                          <div class="btnCambiarStep">
                            <button  mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                              Atrás</button>
                            <button [disabled]="!tengoRespuestaCorrecta()" mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                              Siguiente
                            </button>
                          </div>
                      </mat-step>

                           <!-- TERCER PASO -->
                      <mat-step *ngIf = "tipoDePreguntaSeleccionado === 'Verdadero o falso'">
                        <ng-template matStepLabel>Definir la respuesta</ng-template>


                        <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group">
                          <mat-radio-button (click)="respuestaCorrecta = 'verdadero'" class="radio-button">
                            <label style="color: black;">Verdadero</label>
                          </mat-radio-button>
                          <mat-radio-button (click)="respuestaCorrecta = 'falso'" class="radio-button">
                            <label style="color: black;">Falso</label>
                          </mat-radio-button>
                        </mat-radio-group>



                        <div class="btnCambiarStep">
                          <button mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                            Atrás</button>
                          <button [disabled]="!tengoOpcionesVerdaderoFalso()" mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                            Siguiente
                          </button>
                        </div>
                      </mat-step>

                         <!-- TERCER PASO -->
                      <mat-step *ngIf = "tipoDePreguntaSeleccionado === 'Emparejamiento'">
                          <ng-template matStepLabel>Definir emparejamientos</ng-template>

                          <mat-label style = "font-size: smaller;"><strong>Emparejamientos</strong></mat-label>

                          <div *ngFor = "let pareja of emparejamientos; let i= index ">

                            <mat-form-field style=  "width: 40%;">
                              <input  matInput [(ngModel)]="pareja.l">
                            </mat-form-field>
                            <mat-form-field style=  "width: 40%; padding-left: 5%;">
                              <input  matInput [(ngModel)]="pareja.r">
                            </mat-form-field>
                            <button (click) = "EliminarPareja (i)" mat-icon-button matTooltip="Eliminar este emparejamiento">
                              <i class="material-icons red md-36">delete</i>
                            </button>
                          </div>
                          <div>
                            <mat-form-field style=  "width: 40%;">
                              <input  matInput [(ngModel)]="nuevaParejaL">
                            </mat-form-field>
                            <mat-form-field style=  "width: 40%; padding-left: 5%;">
                              <input  matInput [(ngModel)]="nuevaParejaR">
                            </mat-form-field>
                          </div>
                          <div class= "enColumna">
                            <button [disabled]="!hayNuevaPareja ()" mat-raised-button class="btn Aceptar"  (click) = "NuevoEmparejamiento();"> Añadir emparejamiento </button>
                          </div>
                          <br>
                          <br>

                          <div class="btnCambiarStep">
                            <button  mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                              Atrás</button>
                            <button [disabled]="!tengoEmparejamientos()" mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                              Siguiente
                            </button>
                          </div>
                      </mat-step>

                      <mat-step>
                        <ng-template matStepLabel>Configurar feedback</ng-template>


                        <div>
                          <mat-form-field style=  "width: 100%;">
                            <mat-label>Feedback Correcto</mat-label>
                            <input matInput [(ngModel)] = "feedbackCorrecto">
                          </mat-form-field>
                        </div>

                        <div>
                          <mat-form-field style=  "width: 100%;">
                            <mat-label>Feedback Incorrecto</mat-label>
                            <input matInput [(ngModel)] = "feedbackIncorrecto">
                          </mat-form-field>
                        </div>

                        <div class="btnCambiarStep">
                          <button  mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                            Atrás</button>
                          <button [disabled]="!tengoFeedback()" mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                            Siguiente
                          </button>
                        </div>
                      </mat-step>
                      <mat-step>
                        <ng-template matStepLabel>Finalizar</ng-template>
                        <div style="margin: 5px;">
                          <p>Pregunta creada correctamente.</p>
                          <p> Haga click en "Finalizar" para guardar los cambios.</p>
                        </div>
                        <div class="btnCambiarStep">
                          <button mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious> Atrás</button>
                          <button mat-raised-button class="btn Aceptar" style="margin: 5px" (click) = "CrearPregunta();"> Finalizar</button>
                        </div>
                      </mat-step>

                    </mat-horizontal-stepper>

              </mat-card-content>
            </mat-card>

            <br>

    </mat-tab>
  </mat-tab-group>

</div>

