<div class="enColumna">

  <div class="enColumna" style="width: 65%">
    <button type="button" class="btn Eliminar" (click) = "DesactivarJuego()"> Desactivar<i class="material-icons">history</i></button>
  </div>
  <br>
  <div  *ngIf="VotacionFinalizada()" class="subtitulo">Clasificación general definitiva</div>
  <div  *ngIf="!VotacionFinalizada()" class="subtitulo">Clasificación general</div>
  <br>

  <!-- ////////////////////////////////////// CLASIFICACIÓN INDIVIDUAL ////////////////////////////////////////////////////-->
  <form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Individual'">
    <div class="filter"  style="width: 60%">
      <mat-form-field style="width: 95% !Important;">
        <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Filtro para buscar alumno...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
    </div>

    <table style="width: 80%"  align="center"  mat-table [dataSource]="datasourceAlumno" class="example-container mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Posición Column -->
        <ng-container matColumnDef="posicion">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Posición Global</th>
          <td mat-cell *matCellDef="let alumno; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{i+1}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{i+1}}</div>
          </td>
        </ng-container>

        <!-- Nombre Alumno Column -->
        <ng-container matColumnDef="nombreAlumno">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Nombre</th>
          <td mat-cell *matCellDef="let alumno; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.nombre}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.nombre}}</div>
          </td>
        </ng-container>

        <!-- Primer Apellido Column -->
        <ng-container matColumnDef="primerApellido">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Primer Apellido</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.primerApellido}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.primerApellido}}</div>
            </td>
        </ng-container>

         <!-- Segundo Apellido Column -->
        <ng-container matColumnDef="segundoApellido">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Segundo Apellido</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.segundoApellido}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.segundoApellido}}</div>
            </td>
        </ng-container>

        <!-- Puntos Column -->
        <ng-container matColumnDef="puntos">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Puntos</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.puntos}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{alumno.puntos}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="incremento">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center"></th>
          <td mat-cell *matCellDef="let alumno; ">
            <div *ngIf = "alumno.incremento !==0 " class="blink">+{{alumno.incremento}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
          <td mat-cell style= "text-align: right" *matCellDef="let alumno">
            <p *ngIf = "alumno.votado" style = "color: green;">
              <i class="material-icons green md-36">done</i> </p>
          </td>
        </ng-container>

        <!-- More Column -->
        <!-- <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 0%" align="center"> </th>
            <td mat-cell *matCellDef="let alumno">
                <button (click) = "AccederAlumno(alumno)" routerLink = "informacionAlumnoJuegoCompeticionLiga" mat-icon-button matTooltip="Ver progreso de {{alumno.nombre}} en el juego">
                    <i class="material-icons">more_horiz</i>
                </button>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos;"></tr>

    </table>

  </form>
  
  <!-- ////////////////////////////////////// CLASIFICACIÓN EQUIPOS ////////////////////////////////////////////////////-->
  <form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Equipos'">
    <div class="filter"  style="width: 60%">
      <mat-form-field style="width: 95% !Important;">
        <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Filtro para buscar equipo...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
    </div>

    <table style="width: 80%"  align="center"  mat-table [dataSource]="dataSourceEquipo" class="example-container mat-elevation-z8">
     

        <!-- Posición Column -->
        <ng-container matColumnDef="posicion">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Posición Global</th>
          <td mat-cell *matCellDef="let equipo; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{i+1}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{i+1}}</div>
          </td>
        </ng-container>

        <!-- Nombre Alumno Column -->
        <ng-container matColumnDef="nombreEquipo">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Nombre</th>
          <td mat-cell *matCellDef="let equipo; let i = index">
            <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.nombre}} </div>
            <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{equipo.nombre}}</div>
          </td>
        </ng-container>
          <!-- Miembros Column -->
        <ng-container matColumnDef="miembros">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 18%"> Miembros </th>
          <td mat-cell *matCellDef="let equipo"><button mat-icon-button matTooltip="Ver miembros de {{equipo.nombre}}" color="primary"
            [mdePopoverTriggerFor]="appPopover" (click) = "AlumnosDelEquipo(equipo)"
            mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
            <i class="material-icons">group</i>
          </button>

          <mde-popover #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
              <mat-card style="max-width: 300px">
                <mat-card-content>
                  <mat-list>
                    <mat-list-item *ngFor="let alumno of alumnosEquipo">
                      <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                      <p class="md-body-1" mat-line>{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                    </mat-list-item>
                  </mat-list>
                </mat-card-content>
              </mat-card>
          </mde-popover>
        </td>
        </ng-container>


        <!-- Puntos Column -->
        <ng-container matColumnDef="puntos">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center">Puntos</th>
            <td mat-cell *matCellDef="let equipo; let i = index">
              <div *ngIf = "(i == 0) && (VotacionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.puntos}} </div>
              <div *ngIf = "(i != 0) || (!VotacionFinalizada())">{{equipo.puntos}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="incremento">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center"></th>
          <td mat-cell *matCellDef="let equipo; ">
            <div *ngIf = "equipo.incremento !==0 " class="blink">+{{equipo.incremento}}</div>
          </td>
        </ng-container>

        <ng-container matColumnDef=" ">
          <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
          <td mat-cell style= "text-align: right" *matCellDef="let equipo">
            <p *ngIf = "equipo.votado" style = "color: green;">
              <i class="material-icons green md-36">done</i> </p>
          </td>
        </ng-container>

      

        <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipos; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEquipos;"></tr>

    </table>

  </form>

</div>


