<h1 mat-dialog-title>{{data.rubrica.Nombre}}</h1>
<div mat-dialog-content>
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let criterio of data.rubrica.Criterios; let i = index" style="margin-top: 10px; margin-bottom: 10px;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{criterio.Nombre}} &nbsp;
          <i *ngIf="data.juego.metodoSubcriterios">
            ({{data.juego.Pesos[i][0]}}%)
          </i>
          <i *ngIf="!data.juego.metodoSubcriterios">
            ({{data.juego.Penalizacion[data.juego.Penalizacion.length - 1][i]}}%)
          </i>
        </mat-panel-title>
        <mat-panel-description class="criterioDescripcion">
          Nota: {{CalcularNotaCriterio(i)}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let elemento of criterio.Elementos; let j = index">
        <mat-checkbox class="example-margin" [(ngModel)]="respuestaEvaluacion[i][j]" disabled></mat-checkbox>
        <i *ngIf="data.juego.metodoSubcriterios"> ({{data.juego.Pesos[i][j + 1]}}%)</i> {{elemento}}
        <mat-divider></mat-divider>
      </div>
      <mat-expansion-panel *ngIf="!data.juego.metodoSubcriterios" style="margin-top: 10px; margin-bottom: 10px;">
        <mat-expansion-panel-header>
          <mat-panel-title><i>Cálculo</i></mat-panel-title>
          <mat-panel-description class="criterioDescripcion">
            Nº de fallos: {{numeroDeFallos(i)}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p><strong>Nº fallos 0 &#8594; </strong> Nota: 100%</p>
        <p *ngFor="let penalizacion of data.juego.Penalizacion[i]">
          <strong>Nº fallos {{penalizacion.num}} &#8594; </strong> Nota: {{penalizacion.p}}%
        </p>
      </mat-expansion-panel>
    </mat-expansion-panel>
    <mat-expansion-panel [disabled]="this.respuestaEvaluacion[this.respuestaEvaluacion.length - 1] === ''" style="margin-top: 10px; margin-bottom: 10px;">
      <mat-expansion-panel-header>
        <mat-panel-title><i>Observaciones</i></mat-panel-title>
        <mat-panel-description *ngIf="this.respuestaEvaluacion[this.respuestaEvaluacion.length - 1] === ''" class="criterioDescripcion">
          <i>No hay observaciones</i>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{this.respuestaEvaluacion[this.respuestaEvaluacion.length - 1]}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card style="margin-top: 10px; margin-bottom: 10px;">
    <strong>Nota Final: {{CalcularNotaFinal()}}</strong>
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Listo</button>
</div>
