<div class="titulo">Crear Cuestionario</div>
<mat-divider class="lineaDivisoria"></mat-divider>
<div class = "contenedor" >
<div class = "enColumna">
<form [formGroup]="myForm">

    <mat-card class="panel">

        <mat-card-content>
            <mat-horizontal-stepper #linearHorizontalStepper="matHorizontalStepper" [linear]="true" style="width:100%">

                <!-- PRIMER PASO -->
                <mat-step [stepControl]="myForm">
                  <ng-template matStepLabel>Descripción</ng-template>
                  <mat-form-field style=  "width: 50%;">
                    <mat-label>Título</mat-label>
                    <input (keyup)="Disabled()" matInput formControlName="tituloCuestionario" required>
                  </mat-form-field>

                  <div>
                    <mat-form-field style=  "width: 50%;">
                      <mat-label>Descripción</mat-label>
                        <input (keyup)="Disabled()" matInput formControlName="descripcionCuestionario" required>
                    </mat-form-field>
                  </div>

                  <div class="btnCambiarStep">
                    <!-- <button [disabled]="isDisabled" *ngIf="grupoYaCreado === false" mat-raised-button class="btn Next"  (click)= CrearGrupo() matStepperNext>Siguiente</button>
                    <button [disabled]="isDisabled" *ngIf="grupoYaCreado === true" mat-raised-button class="btn Next"  (click)= EditarGrupo() matStepperNext>Siguiente</button> -->
                    <button [disabled]="isDisabled" mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                      Atrás</button>
                   <button  [disabled]="isDisabled" mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                      Siguiente
                   </button>
                  </div>

                </mat-step>

                <!-- SEGUNDO PASO -->
                <mat-step>
                  <ng-template matStepLabel>Añadir preguntas</ng-template>
                  <div>
                  <div>
                    <button type="button" class="btn Agregar" (click)= "AbrirDialogoAgregarPreguntas()">Añadir preguntas<i class="material-icons">
                        post_add </i></button>

                  </div>
                  <div class="btnCambiarStep">
                    <button  mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious>
                       Atrás</button>
                    <button  mat-raised-button class="btn Next" style="margin: 5px" matStepperNext>
                       Siguiente
                    </button>
                  </div>
                </div>
                </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Finalizar</ng-template>
                  <div style="margin: 5px;">
                    <p>Cuestionario creado correctamente.</p>
                    <p> Haga click en "Finalizar" para guardar los cambios.</p>
                  </div>
                  <div class="btnCambiarStep">
                    <button mat-raised-button class="btn Back" style="margin: 5px" matStepperPrevious> Atrás</button>
                    <button mat-raised-button class="btn Aceptar" style="margin: 5px" (click) = "aceptarGoBack();"> Finalizar</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>

        </mat-card-content>
      </mat-card>

      <br>

</form>


  <br>
</div>
</div>
