<div class="titulo">Juego de coger turno rápida</div>
<mat-divider style="width: 70%; margin-left : 15%"></mat-divider>


<div class="contenedor">
  <br>
  <div class = "enColumna">
    <button  type="button"  (click) = "EliminarJuegoRapido()" class="btn Eliminar" style = "width: 50%">Eliminar juego rápido</button>
  </div>
  <br>
  <mat-tab-group (selectedTabChange)="tabChanged($event)">
    <mat-tab  *ngIf = "juegoSeleccionado" label="Información para la conexión y participantes">
      <div class = "enFila">
      <div style = 'width: 50%'  class = "enColumna">
        <br>
        <br>
        <h3> Enlace para la conexión</h3>
        <h1><strong>classpip.upc.edu:8101</strong></h1>
        <br>
        <img src="../assets/QRExpress.png" style = "width: 200px"/>
        <br>
        <h3> Clave</h3>
        <h1><strong>{{juegoSeleccionado.Clave}}</strong></h1>
        <br>
        <br>
        <img src="../assets/loginExpress.png" style = "width: 500px"/>
        <!-- <button  *ngIf = "mostrarParticipantes" type="button"  (click) = "Toogle()" class="btn Aceptar" style = "width: 20%">Mostrar resultados</button>
        <button  *ngIf = "!mostrarParticipantes" type="button"  (click) = "Toogle()" class="btn Aceptar" style = "width: 20%">Mostrar participantes</button> -->
      </div>

      <div style = 'width: 50%'>
        <br>
        <br>

        <h3 align = "center"> Participantes</h3>
        <br>
        <div style ="display: inline-block; padding: 10px;" *ngFor="let participante of participantes; let i=index">
                <h2 *ngIf = "!participante.contestado" style="color: red"> {{participante.nickName}}  </h2>
                <h2 *ngIf = "participante.contestado" style="color: green"> {{participante.nickName}}  </h2>
        </div>
      </div>
      </div>

    </mat-tab>
    <!-- <mat-tab label="Participantes">
      <br>
        <h3 align = "center"> Participantes</h3>
        <br>
        <div style ="display: inline-block; width: 20%;" *ngFor="let participante of participantes; let i=index">
                <h2 *ngIf = "!participante.contestado" style="color: red"> {{participante.nickName}}  </h2>
                <h2 *ngIf = "participante.contestado" style="color: green"> {{participante.nickName}}  </h2>
        </div>
      <br>
    </mat-tab> -->
    <mat-tab label="Resultados">
      <br>
     <div class= "enColumna" >
      <br>
      <button  type="button"  (click) = "GenerarInforme()" class="btn Aceptar" style = "width: 50%">Genera un informe en PDF con los resultados</button>
      <br>

      <h3><strong>Estado de los turnos</strong></h3>
      <br>

      <div class = "enColumna" style= 'width: 100%'>
          <table  id = 'tabla' align= "center" mat-table [dataSource]="dataSource" class="example-container mat-elevation-z8">

            <ng-container matColumnDef="dia">
              <th mat-header-cell style = "width: 20%"  *matHeaderCellDef class="tituloColumnaTabla"> Día  </th>
              <td mat-cell style= "text-align: left"  *matCellDef="let turno" >
                <p *ngIf = "turno.dia !== '*'">{{turno.dia | date: 'dd-MM-yyyy'}}  </p>
                <p *ngIf = "turno.dia === '*'">Ninguno</p>
              </td>
            </ng-container>


            <ng-container matColumnDef="hora">
              <th mat-header-cell style = "width: 20%"  *matHeaderCellDef class="tituloColumnaTabla"> Hora  </th>
              <td mat-cell style= "text-align: left"  *matCellDef="let turno" >
                <p *ngIf = "turno.dia !== '*'">{{turno.hora}}  </p>
              </td>
            </ng-container>


            <ng-container matColumnDef="nombre">
              <th mat-header-cell  *matHeaderCellDef class="tituloColumnaTabla"> Asignado a </th>
              <td mat-cell style= "text-align: left"  *matCellDef="let turno">
                <p>{{turno.persona}} </p>
              </td>
            </ng-container>


            <ng-container matColumnDef="iconos">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
              <td mat-cell *matCellDef="let turno">
                <p>
                <button (click) = "Eliminar(turno)" mat-icon-button matTooltip="Elimina el turno">
                  <i class="material-icons red md-36">delete</i>
                </button>
                </p>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <br>
          <div class = "enFila" style = "width: 60%">
            <mat-form-field style = 'width: 70%; margin-right: 5%;'>
              <mat-label>Clica en el icono del calendario para introducir el siguiente turno</mat-label>
              <!-- <input matInput required formControlName="Turno"> -->
              <input matInput type="datetime-local" placeholder="introduce dia/hora" [(ngModel)]="nuevoTurno">
            </mat-form-field>

            <button  type="button"  (click) = "AgregarTurno()" class="btn Agregar" style = "width: 30%">Añadir turno</button>
          </div>
          <p><strong>Nota:</strong> La introducción de turnos no funciona si se usa Firefox, Safari o Internet Explorer 12 (o anteriores).</p>


      </div>





    </div>
    </mat-tab>
  </mat-tab-group>

</div>


