
<div class="titulo">Editar colección</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enColumna">
   <div class="enFila">

          <div class="enColumna">
              <span style="font-weight: bold;">Nombre: </span>
              <input style="background-color: transparent" type="text" name="nombre" placeholder="Escribe el nombre" (change) = "cambios=true" requiered [(ngModel)]="nombreColeccion">
              <br>
              <br>
              <input #file id = "input" type="file" accept= 'image/*' (change)="Mostrar($event)" style="display:none">
              <img class ="imagen" *ngIf="imagenColeccion"  mat-card-image [src]="imagenColeccion" >

              <button (click) = "ActivarInput()" type="button"  class="btn Aceptar">
                    Cambiar Imagen<i class="material-icons">add_photo_alternate</i>
              </button>
              <button *ngIf = "cambios" type="button" class="btn Aceptar"  (click)= "EditarColeccion()">Aceptar Cambios <i class="material-icons">
                  check </i></button>
          </div>



<!--
          <button type="button" class="btn Aceptar"  (click)= "EditarColeccion()">Aceptar Cambios <i class="material-icons">
              check </i></button> -->

    </div>
    <br>
    <br>
    <mat-divider class="lineaDivisoria"></mat-divider>
    <button type="button" class="btn Agregar" (click) = AbrirDialogoAgregarCromoColeccion()>
        Agregar Cromo <i class="material-icons">library_add</i>
    </button>
    <mat-grid-list cols="3" rowHeight="100px" style="width: 70%; margin-left : 15%" >
      <mat-grid-tile
          *ngFor="let cromo of cromosColeccion; let i = index"
          [colspan]="1"
          [rowspan]="4"
          [style.background]="white">
          <mat-card class="cromo" [ngClass]="{
            'Diamante' : cromo.Nivel === 'Diamante',
            'Platino' : cromo.Nivel === 'Platino',
            'Oro' : cromo.Nivel === 'Oro',
            'Plata' : cromo.Nivel === 'Plata',
            'Bronce' : cromo.Nivel === 'Bronce'}">
            <div class= "enColumna">
            <mat-card-header style = "margin-top: 20%;">
              <!-- <div style="display: flex; justify-content:space-between; width: 250px "> -->
                <mat-card-title align = "center">{{cromo.Nombre}}</mat-card-title>
                <mat-card-subtitle align = "center">{{cromo.Probabilidad}}</mat-card-subtitle>

            </mat-card-header>
            <!-- <mat-card-content style="display: flex; align-items: center;justify-content: center;"> -->
            <mat-card-content>

              <div class = "enFila" style = "width: 30%">

                <button type="button" style="width: 50px !important;" class="btn Editar" (click) = "AbrirDialogoEditarCromo(cromo)">
                  <i  class="material-icons">edit </i>
                </button>

                <button type="button" style="width: 50px !important;" class="btn Eliminar" (click) = "AbrirDialogoConfirmacionBorrarCromo(cromo)">
                  <i  class="material-icons">delete </i>
                </button>
              </div>
                <div *ngIf = "!coleccion.DosCaras" class="posicionImagen">
                  <img class ="imagenCromo" *ngIf="imagenesCromosDelante[i]"  mat-card-image [src]="imagenesCromosDelante[i]" >
                </div>

                <div  *ngIf = "coleccion.DosCaras"  class="flip-box">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <div class="posicionImagen" >
                          <img class ="imagenCromo" *ngIf="imagenesCromosDelante[i]"  mat-card-image [src]="imagenesCromosDelante[i]" >
                        </div>
                      </div>
                      <div class="flip-box-back">
                        <div class="posicionImagen" >
                          <img class ="imagenCromo" *ngIf="imagenesCromosDetras[i]"  mat-card-image [src]="imagenesCromosDetras[i]" >
                        </div>
                      </div>
                    </div>
                </div>



            </mat-card-content>
            </div>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

    <button type="button" class="btn Back" (click)="goBack()">Volver </button>


  </div>

</div>
