<div class="titulo">Editar tipo de punto</div>
<mat-divider class="lineaDivisoria"></mat-divider>
<div class="contenedor">
    <mat-card class="panel">
      <mat-card-header>
          <mat-card-title>Información sobre el tipo de punto</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="form-group">
            <label for="inputNombrePunto">Nombre</label>
            <input type="text" id="inputNombrePunto" class="form-control" requiered [(ngModel)]="nombrePunto" placeholder="Escribe el nombre tipo de punto">
        </div>

        <div class="form-group">
          <label for="textareaPrivilegio">Descripción</label>
          <textarea  class="form-control" id="textareaPrivilegio" requiered [(ngModel)]="descripcionPunto" placeholder="Descripción" rows="4"></textarea>
        </div>
      </mat-card-content>


      <mat-card-actions align="center">
        <button type="button" class="btn Aceptar" (click)= "EditarPunto()">Aceptar Cambios <i class="material-icons">
            check </i></button>
      </mat-card-actions>

    </mat-card>
</div>
