<div class="enColumna">
  <div class="enFila" style="width: 65%">
    <button type="button" class="btn Info">Información<i class="material-icons">info</i></button>
    <button type="button" class="btn Editar">Editar Jordnadas<i class="material-icons">edit</i></button>
    <button type="button" class="btn Aceptar">Añadir Resultados<i class="material-icons">emoji_events</i></button>
    <button type="button" class="btn Eliminar" (click) = "AbrirDialogoConfirmacionDesactivar()"> Desactivar<i class="material-icons">history</i></button>
  </div>


<!-- ////////////////////////////////////// CLASIFICACIÓN INDIVIDUAL ////////////////////////////////////////////////////-->
<form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Individual'">
   <div class="filter"  style="width: 60%">
     <mat-form-field style="width: 95% !Important;">
      <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Filtro para buscar alumno...">
      <i class="material-icons" matSuffix>search</i>
     </mat-form-field>
   </div>
</form>
<br>

 <button type="button" class="btn Back" (click)="goBack()">Volver </button>

</div>
