<div class="enColumna">

  <div class="enFila" style="width: 65%">
    <button type="button" class="btn Info"  (click) = Informacion();  routerLink = "informacionJuegoDeCompeticion">Información<i class="material-icons">info</i></button>
    <button type="button" class="btn Editar" (click) = editarjornadas();  routerLink = "editarjornadasJuegoDeCompeticion">Editar Jornadas<i class="material-icons">edit</i></button>
    <button type="button" class="btn Aceptar" (click) = seleccionarGanadorLiga(); routerLink = "seleccionarGanadorJuegoDeCompeticionLiga">Resultados<i class="material-icons">emoji_events</i></button>
    <button type="button" class="btn Eliminar" (click) = "AbrirDialogoConfirmacionDesactivar()"> Desactivar<i class="material-icons">history</i></button>
  </div>

<!-- ////////////////////////////////////// CLASIFICACIÓN INDIVIDUAL ////////////////////////////////////////////////////-->

<br>
<div  *ngIf="(JornadasCompeticion !== undefined) && CompeticionFinalizada()" class="subtitulo">Clasificación general definitiva</div>
<div  *ngIf="(JornadasCompeticion !== undefined) && !CompeticionFinalizada()" class="subtitulo">Clasificación general</div>
<br>
<form style="width: 100%"  *ngIf="juegoSeleccionado.Modo === 'Individual'">
    <div class="filter"  style="width: 60%">
      <mat-form-field style="width: 95% !Important;">
        <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Filtro para buscar alumno...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
    </div>

    <table style="width: 100%"  align="center"  mat-table [dataSource]="datasourceAlumno" class="example-container mat-elevation-z8">
        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Posición Column -->
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 15%">Posición</th>

            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.posicion}} </div>
              <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.posicion}}</div>
            </td>
          </ng-container>

          <!-- Nombre Alumno Column -->
          <ng-container matColumnDef="nombreAlumno">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 25%"> Nombre  </th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: x-large;">{{alumno.nombre}} {{alumno.primerApellido}} {{alumno.segundoApellido}} </div>
              <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.nombre}} {{alumno.primerApellido}} {{alumno.segundoApellido}}</div>
            </td>
          </ng-container>

          <!-- Partidos Totales Column -->
          <ng-container matColumnDef="partidosTotales">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Partidos Totales</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.partidosTotales}} </div>
              <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.partidosTotales}}</div>
            </td>
          </ng-container>

          <!-- Partidos Jugados Column -->
          <ng-container matColumnDef="partidosJugados">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Jugados</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.partidosJugados}} </div>
              <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.partidosJugados}}</div>
            </td>
          </ng-container>

          <!-- Partidos Ganados Column -->
          <ng-container matColumnDef="partidosGanados">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Ganados</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.partidosGanados}} </div>
              <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.partidosGanados}} </div>
            </td>
          </ng-container>

          <!-- Partidos Empatados Column -->
          <ng-container matColumnDef="partidosEmpatados">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Empatados</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.partidosEmpatados}} </div>
              <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.partidosEmpatados}} </div>
            </td>
          </ng-container>

          <!-- Partidos Perdidos Column -->
          <ng-container matColumnDef="partidosPerdidos">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Perdidos</th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.partidosPerdidos}} </div>
              <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.partidosPerdidos}} </div>
            </td>
          </ng-container>

          <!-- Puntos Column -->
          <ng-container matColumnDef="puntos">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Puntos</th>
              <td mat-cell *matCellDef="let alumno; let i = index">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{alumno.puntos}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{alumno.puntos}} </div>
              </td>
          </ng-container>

          <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center"></th>
            <td mat-cell *matCellDef="let alumno; let i = index">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())"><i class="material-icons" style="color: green; font-size:xx-large;">emoji_events</i></div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos;"></tr>

    </table>
  </form>

<!-- ////////////////////////////////////// CLASIFICACIÓN EQUIPOS ////////////////////////////////////////////////////-->
  <form style=" width: 100%" *ngIf="juegoSeleccionado.Modo != 'Individual'">
    <div class="filter"  style="width: 60%">
      <mat-form-field style="width: 95% !Important;">
        <input matInput (keyup)="applyFilterEquipo($event.target.value)" placeholder="Filtro para buscar equipo...">
        <i class="material-icons" matSuffix>search</i>
      </mat-form-field>
    </div>

    <table style="width: 100%" align="center" mat-table [dataSource]="datasourceEquipo" class="example-container mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Posición Column -->
            <ng-container matColumnDef="posicion">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%">Posición</th>


              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.posicion}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.posicion}}</div>
              </td>
            </ng-container>

            <!-- Nombre Equipo Column -->
            <ng-container matColumnDef="nombreEquipo" align="center">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%" align="center">Nombre</th>

              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.nombre}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.nombre}}</div>
              </td>
            </ng-container>

            <!-- Miembros Column -->
            <ng-container matColumnDef="miembros">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 10%">Miembros</th>
              <td mat-cell *matCellDef="let equipo">
                <button mat-icon-button matTooltip="Ver miembros de {{equipo.nombre}}" color="primary" [mdePopoverTriggerFor]="appPopover"
                (click) = "AlumnosDelEquipo(equipo)" mdePopoverTriggerOn="click" #popoverTrigger="mdePopoverTrigger">
                  <i class="material-icons">group</i>
                </button>

                <mde-popover  #appPopover="mdePopover" [mdePopoverOverlapTrigger]="false">
                    <mat-card style="max-width: 300px">
                        <mat-card-content>
                            <mat-list>
                                <mat-list-item *ngFor="let alumno of alumnosDelEquipo">
                                    <p class="md-body-1" mat-line>{{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</p>
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </mde-popover>
              </td>
            </ng-container>

            <!-- Partidos Totales Column -->
            <ng-container matColumnDef="partidosTotales">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Partidos Totales</th>

              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.partidosTotales}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.partidosTotales}}</div>
              </td>
            </ng-container>

            <!-- Partidos Jugados Column -->
            <ng-container matColumnDef="partidosJugados">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Jugados</th>

              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.partidosJugados}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.partidosJugados}}</div>
              </td>

            </ng-container>

            <!-- Partidos Ganados Column -->
            <ng-container matColumnDef="partidosGanados">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Ganados</th>
              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.partidosGanados}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.partidosGanados}}</div>
              </td>


            </ng-container>

            <!-- Partidos Empatados Column -->
            <ng-container matColumnDef="partidosEmpatados">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Empatados</th>

              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.partidosEmpatados}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.partidosEmpatados}}</div>
              </td>

            </ng-container>

            <!-- Partidos Perdidos Column -->
            <ng-container matColumnDef="partidosPerdidos">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 10%"  align="center">Perdidos</th>

              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.partidosPerdidos}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.partidosPerdidos}}</div>
              </td>

            </ng-container>

            <!-- Puntos Column -->
            <ng-container matColumnDef="puntos">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 10%" align="center"> Puntos </th>

              <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
                <div *ngIf = "(i == 0) && (CompeticionFinalizada())" style="color: green; font-size: xx-large;">{{equipo.puntos}} </div>
                <div *ngIf = "(i != 0) || (!CompeticionFinalizada())">{{equipo.puntos}}</div>
              </td>

            </ng-container>

          <ng-container matColumnDef=" ">
            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  style="width: 20%"  align="center"></th>
            <td mat-cell *matCellDef="let equipo; let i = index;" align="center">
              <div *ngIf = "(i == 0) && (CompeticionFinalizada())"><i class="material-icons" style="color: green; font-size:xx-large;">emoji_events</i></div>
            </td>
          </ng-container>

            <!-- More Column
            <ng-container matColumnDef=" ">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
                <td mat-cell *matCellDef="let equipo">
                    <button (click) = "AccederEquipo(equipo)" routerLink = "informacionEquipoJuego" mat-icon-button matTooltip="Ver progreso de {{equipo.nombre}} en el juego">
                        <i class="material-icons">more_horiz</i>
                    </button>
                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipos; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsEquipos;"></tr>

    </table>
  </form>

</div>
