.table-container {
  // overflow-y: scroll;
  // overflow-x: scroll;
  max-width:200%;
  max-height: 500px;
  overflow: auto;
}

.mat-icon-button {
  width: 15px;
}

.mat-icon {
  font-size: 15px;
}

table {
  width: 100%;
  text-align: center;
  margin: auto;
}

table th:first-child {
  background-image: linear-gradient(
      to top right,
      #2b367c calc(50% - 1px),
      white,
      #2b367c calc(50% + 1px)
  );
}

.tag1 {
  text-align: right;
}

.tag2 {
  text-align: left;
}

.tituloTabla {
  color: white;
  font-weight: bold;
  font-size: 90%;
  background-color: #3f51b5;
}


.hov-column {
  background-color: #f2f2f2;
}

.head:hover {
  background-color: #2b367c !important;
}

.row100:hover {
  background-color: #f2f2f2;
}

.hov-column-head {
  background-color: #2b367c !important;
}

.row100 td:hover {
  background-color:#2b367c;
  color: #fff;
}

.column100 {
  width: 50px;
}
.head {
  background-color: #2b367c !important;
  color: white;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
}

.column-0 {
  background-color: #2b367c !important;
  color: white;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px !important;
}



.final-column {
  // background-color: #dfe6e9;
  // font-weight: bold;
  // font-size: 90%;
  background-color: #2b367c !important;
  color: white;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px !important;
}

.shadowed {
  background-color: #ecf0f1;
  color: grey;
}

.col-profesor {
  background-color: #f7f1e3;
}




.example-container {
  // overflow-y: scroll;
  // overflow-x: scroll;
  overflow: auto;

  max-height: 500px;
}

.mat-table-sticky {
  background:  midnightblue;
  opacity: 1;
}

.example-sticky-toggle-group {
  margin: 8px;
}

.mat-column-filler {
  padding: 0 8px;
  font-size: 10px;
  text-align: center;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}

.mat-header-row, .mat-footer-row, .mat-row {
  min-width: 1920px; /* 24 columns, 80px each */
}

.mat-table-sticky-border-elem-top {
  border-bottom: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-right {
  border-left: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-bottom {
  border-top: 2px solid midnightblue;
}

.mat-table-sticky-border-elem-left {
  border-right: 2px solid midnightblue;
}

