
<div class="titulo">Información Juego De Avatar </div>
<div class="subtitulo">{{juegoAvatar.NombreJuego}} </div>
<mat-divider class="lineaDivisoria"></mat-divider>



<div class="enColumna">
  <div class="contenedor" style= "align-items: center" >
    <mat-tab-group  style= "width: 75%;" [backgroundColor] = "primary">

      <!-- LISTA DE EQUIPOS -->
      <mat-tab  label="Familias de avatares del juego">
        <form>
          <mat-accordion >
            <mat-expansion-panel *ngFor="let familia of familiasDelJuego" (opened) = "TraeImagenesFamilia(familia)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{familia.NombreFamilia}}
                </mat-panel-title>
              </mat-expansion-panel-header>

                <div *ngIf = "familiaCargada" class = "enFila">
                  <div  id = "imagenAvatar"  style = "width: 20%;">
                    <!-- Cuando se cargue la imagen se activa la función para que se muestra a tamaño doble -->
                    <img  #img id ="silueta"  (load)="PonDoble(img)"  [src]="imagenSilueta">
                  </div>

                  <!-- Usando el expansion panel no puedo colocar las imagenes dinámicamente.
                  Las coloco de forma estática
                  -->
                  <div class = "enColumna" style = "width: 100%">
                      <div class = "enFila">
                        <div style = "width: 20%"> <img *ngIf = "c1[0]" [src]="c1[0]"></div>
                        <div style = "width: 20%"> <img *ngIf = "c1[1]" [src]="c1[1]"></div>
                        <div style = "width: 20%"> <img *ngIf = "c1[2]" [src]="c1[2]"></div>
                        <div style = "width: 20%"> <img *ngIf = "c1[3]" [src]="c1[3]"></div>
                        <div style = "width: 20%"> <img *ngIf = "c1[4]" [src]="c1[4]"></div>
                      </div>
                      <div class = "enFila">
                        <div style = "width: 15%"><img *ngIf = "c2[0]" [src]="c2[0]"></div>
                        <div style = "width: 15%"><img *ngIf = "c2[1]" [src]="c2[1]"></div>
                        <div style = "width: 15%"><img *ngIf = "c2[2]" [src]="c2[2]"></div>
                        <div style = "width: 15%"><img *ngIf = "c2[3]" [src]="c2[3]"></div>
                        <div style = "width: 15%"><img *ngIf = "c2[4]" [src]="c2[4]"></div>
                      </div>
                      <div class = "enFila">
                        <div style = "width: 20%"><img *ngIf = "c3[0]" [src]="c3[0]"></div>
                        <div style = "width: 20%"><img *ngIf = "c3[1]" [src]="c3[1]"></div>
                        <div style = "width: 20%"><img *ngIf = "c3[2]" [src]="c3[2]"></div>
                        <div style = "width: 20%"><img *ngIf = "c3[3]" [src]="c3[3]"></div>
                        <div style = "width: 20%"><img *ngIf = "c3[4]" [src]="c3[4]"></div>
                      </div>
                      <div class = "enFila">
                        <div  style = "width: 20%"><img *ngIf = "c4[0]" [src]="c4[0]"></div>
                        <div  style = "width: 20%"><img *ngIf = "c4[1]" [src]="c4[1]"></div>
                        <div  style = "width: 20%"><img *ngIf = "c4[2]" [src]="c4[2]"></div>
                        <div  style = "width: 20%"><img *ngIf = "c4[3]" [src]="c4[3]"></div>
                        <div  style = "width: 20%"><img *ngIf = "c4[4]" [src]="c4[4]"></div>
                      </div>
                  </div>
                </div>
              </mat-expansion-panel>
          </mat-accordion>

        </form>
      </mat-tab>



      <!-- MIS PUNTOS-->
      <mat-tab label="Criterios para la asignación de privilegios">
        <br>
        <div class= "enColumna">
          <table style="width: 100%" align="center"  mat-table  [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="privilegio">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Privilegio </th>
              <td mat-cell *matCellDef="let elemento">{{elemento.privilegio}} </td>
            </ng-container>
            <ng-container matColumnDef="criterio">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Criterio para conceder el privilegio </th>
              <td mat-cell *matCellDef="let elemento">{{elemento.criterio}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
              <td mat-cell *matCellDef="let elemento">
                <button (click) = "AbrirDialogoCambiarCriterio (elemento)" mat-icon-button matTooltip="Cambia el criterio para {{elemento.privilegio}} ">
                  <i class="material-icons green md-36">edit</i>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>


  <button *ngIf = "criterioCambiado" type="button" class="btn Aceptar" (click)="ActualizarJuego()">Registrar Cambios </button>
  <button type="button" class="btn Back" (click)="goBack()">Volver </button>
</div>


