


<div class="titulo">Cuentos creados en el juego</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
 
    <div>
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngFor='let libro of listaLibros'>
          <mat-card>

            <img src='../../../../../assets/libro.jpg' height="175" width="175">
            <p>{{libro.titulo}}</p>
            <p>{{libro.inscrito}}</p>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
    </div>


</div>