<div class="contenedor">
  <div class="enColumna">
    <div class="enFila" style="width:50%">
      <button type="button" style="width:30%" class="btn Info" (click) = "AbrirDialogoInformacionJuego()">Información<i class="material-icons">info</i></button>
      <button type="button" style="width:30%" class="btn Aceptar" (click) = "AbrirDialogoAnalisisRespuestas()">Análisis<i class="material-icons">list</i></button>
      <button type="button" style="width:30%" class="btn Eliminar" (click) = "AbrirDialogoConfirmacionEliminar()"> Eliminar<i class="material-icons">delete</i></button>
    </div>

    <!-- ////////////////////////////////////// CLASIFICACIÓN ////////////////////////////////////////////////////-->
    <form style="width: 100%">
      <div *ngIf = "juegoSeleccionado.Modo === 'Individual'">
        <div class="filter">
          <mat-form-field style = "width: 100%;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro para buscar pregunta...">
            <i class="material-icons" matSuffix>search</i>
        </mat-form-field>
        </div>

        <table align="center"  mat-table [dataSource]="dataSourceAlumno" class="example-container mat-elevation-z8">
          <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Nombre Alumno Column -->
            <ng-container matColumnDef="nombreAlumno">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  align="center">Nombre</th>
              <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
            </ng-container>

            <!-- Primer Apellido Column -->
            <ng-container matColumnDef="primerApellido">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" align="center">Primer Apellido</th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.primerApellido}} </td>
            </ng-container>

            <!-- Segundo Apellido Column -->
            <ng-container matColumnDef="segundoApellido">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" align="center">Segundo Apellido</th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.segundoApellido}} </td>
            </ng-container>

            <!-- Puntos Column -->
            <ng-container matColumnDef="nota">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" align="center">Nota</th>
                <td mat-cell *matCellDef="let alumno"> {{alumno.nota}} </td>
            </ng-container>

            <ng-container matColumnDef=" ">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 5%"></th>
              <td mat-cell *matCellDef="let alumno">
                  <button (click) = "MostrarRespuestasAlumno(alumno)" mat-icon-button matTooltip="Ver respuestas de {{alumno.Nombre}}">
                      <i class="material-icons">visibility</i>
                  </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsAlumnos; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAlumnos;"></tr>
        </table>
      </div>

      <div *ngIf = "juegoSeleccionado.Modo === 'Equipos'">

        <table align="center"  mat-table [dataSource]="dataSourceEquipo" class="example-container mat-elevation-z8">
            <ng-container matColumnDef="nombreEquipo">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"  align="center">Nombre</th>
              <td mat-cell  *matCellDef="let equipo">
                <p>{{equipo.nombre}} </p>
              </td>
    
            </ng-container>
    
            <!-- Puntos Column -->
            <ng-container matColumnDef="nota">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" align="center">Nota</th>
                <td mat-cell  *matCellDef="let equipo">
                  <p *ngIf = "equipo.contestado" style = "color: green; font-size:20px">{{equipo.nota}} </p>
                </td>
            </ng-container>
    
    
            <ng-container matColumnDef=" ">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla" style="width: 5%"></th>
              <td mat-cell *matCellDef="let equipo">
                  <button *ngIf = "juegoSeleccionado.Presentacion === 'Primero'" (click) = "MostrarRespuestasEquipo(equipo)" mat-icon-button matTooltip="Ver respuestas de {{equipo.Nombre}}">
                      <i class="material-icons">visibility</i>
                  </button>
                  <button *ngIf = "juegoSeleccionado.Presentacion !== 'Primero'" (click) = "MostrarRespuestasMiembrosDelEquipo(equipo)" mat-icon-button matTooltip="Ver respuestas de {{equipo.Nombre}}">
                    <i class="material-icons">visibility</i>
                  </button>
              </td>
            </ng-container>
    
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsEquipos; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsEquipos;"></tr>
        </table>
      </div>

    </form>
  </div>
</div>



