.listado {
    width: 100%;
}

.mat-column-nombreAlumno {
    width: 20%;
    text-align: left;
}
  
.mat-column-primerApellido {
    width: 20%;
    text-align: left;
}

.mat-column-segundoApellido {
    width: 30%;
    text-align: left;
}

.mat-column-id {
    width: 20%;
    text-align: center;
}
.mat-column-imagen {
    width: 15%;
    text-align: center;
}