<div  class="titulo">Información Juego de Competición {{juegoSeleccionado.TipoJuegoCompeticion}}</div>
<!-- <div class="subtitulo">{{juegoSeleccionado.TipoJuegoCompeticion}}</div> -->
<mat-divider class="lineaDivisoria"></mat-divider>

<div  class="enColumna">
  <div  class="contenedor"  style="align-items: center;">
    <mat-tab-group  style="width: 75%;" [backgroundColor]="primary">

      <!-- JORNADAS DEL JUEGO -->
      <mat-tab  label="Jornadas del Juego">
        <form>
          <mat-accordion  *ngIf="numeroTotalJornadas!==undefined;else Aviso_no_jornadas">
              <mat-expansion-panel *ngFor="let jornada of JornadasCompeticion" (click) = "ObtenerEnfrentamientosDeCadaJornada(jornada)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                  Jornada {{jornada.NumeroDeJornada}}
                </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="enFila">
                  <div style="margin-right: 5%; border: 15px; width: 70%;">
                      <span style="font-weight: bold; font-size: 130%;">Fecha: {{jornada.Fecha}}</span>

                      <!-- ///////////////////////////////////// TABLA ENFRENTAMIENTOS POR EQUIPOS ////////////////////////////////////// -->
                      <form style=" width: 100%" *ngIf="juegoSeleccionado.Modo != 'Individual'">
                        <table style="width: 150%" align="center" mat-table [dataSource]="dataSourceEnfrentamientoEquipo" class="example-container mat-elevation-z8">
                          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->

                          <!-- Position Column -->
                          <ng-container matColumnDef="JugadorUno">
                            <th mat-header-cell *matHeaderCellDef> Equipo 1 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.JugadorUno}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="JugadorDos">
                            <th mat-header-cell *matHeaderCellDef> Equipo 2 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.JugadorDos}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="Ganador">
                            <th mat-header-cell *matHeaderCellDef> Ganador</th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.Ganador}} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumnsEnfrentamientos; sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsEnfrentamientos;"></tr>
                        </table>
                      </form>

                      <!-- ///////////////////////////////////// TABLA ENFRENTAMIENTOS INDIVIDUAL ////////////////////////////////////// -->
                      <form style=" width: 100%" *ngIf="juegoSeleccionado.Modo == 'Individual'">
                        <table style="width: 150%" align="center" mat-table [dataSource]="dataSourceEnfrentamientoIndividual" class="example-container mat-elevation-z8">
                          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->

                          <!-- Position Column -->
                          <ng-container matColumnDef="JugadorUno">
                            <th mat-header-cell *matHeaderCellDef> Equipo 1 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.JugadorUno}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="JugadorDos">
                            <th mat-header-cell *matHeaderCellDef> Equipo 2 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.JugadorDos}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="Ganador">
                            <th mat-header-cell *matHeaderCellDef> Ganador</th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.Ganador}} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumnsEnfrentamientos; sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsEnfrentamientos;"></tr>
                        </table>
                      </form>



                       <!-- Tabla para Individual -->


                  </div>
                  <!-- <div>
                      <span style="font-weight: bold; font-size:150%;">PX</span>
                      <p style="color: rgb(63, 81, 181); font-size:180%;">hola</p>
                  </div> -->
              </div>
              </mat-expansion-panel>
          </mat-accordion>

          <ng-template #Aviso_no_jornadas>No se han creado jornadas en este juego</ng-template>
        </form>
        </mat-tab>

      <!-- EQUIPOS DEL JUEGO -->
      <mat-tab  *ngIf="juegoSeleccionado.Modo === 'Equipos'"  label="Equipos del Grupo"></mat-tab>

      <!-- CRITERIOS ELEGIR GANADOR DEL JUEGO -->
      <mat-tab  label="Criterios del Juego">
          <form>
              <mat-accordion>
                  <mat-expansion-panel *ngFor="let jornada of JornadasCompeticion">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      Jornada {{jornada.NumeroDeJornada}}
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="enFila">
                        <div style="margin-right: 5%; border: 15px; width: 70%;">
                            <!-- <span style="font-weight: bold; font-size: 130%;">Criterio</span>
                            <p style="font-size: 200%; margin: 5px;">{{jornada.CriterioGanador}}</p> -->
                            <!-- <br> -->
                            <span style="font-weight: bold; font-size: 130%;">Criterio</span>
                            <p style="font-size: 150%; margin: 5px;">{{jornada.CriterioGanador}}</p>
                        </div>
                        <!-- <div>
                            <span style="font-weight: bold; font-size:150%;">PX</span>
                            <p style="color: rgb(63, 81, 181); font-size:180%;">hola</p>
                        </div> -->
                    </div>
                  </mat-expansion-panel>
              </mat-accordion>
            </form>
      </mat-tab>
    </mat-tab-group>
  </div>

  <button type="button" class="btn Back" (click)="goBack()">Volver </button>

</div>
