<div  class="titulo">Información Juego de Competición {{juegoSeleccionado.TipoJuegoCompeticion}}</div>
<div class="subtitulo">Jornadas del Juego</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div  class="enColumna">
  <div  class="contenedor"  style="margin-left: 5px; width: 60%">
    <!-- <mat-tab-group  style="width: 75%;" [backgroundColor]="primary"> -->

      <!-- JORNADAS DEL JUEGO -->
      <!-- <mat-tab  label="Jornadas del Juego"> -->
        <form>
          <mat-accordion  style="align-items: center;  width: 30%;"  *ngIf="numeroTotalJornadas!==0;else Aviso_no_jornadas">
              <mat-expansion-panel *ngFor="let jornada of JornadasCompeticion" (click) = "ObtenerEnfrentamientosDeCadaJornada(jornada)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon *ngIf="JornadaFinalizada(jornada) === true" mat-list-icon><i class="material-icons green">check_circle_outline</i></mat-icon>
                    <mat-icon *ngIf="JornadaFinalizada(jornada) === false" mat-list-icon><i class="material-icons red">history</i></mat-icon>
                    &nbsp;&nbsp;&nbsp;
                    Jornada {{jornada.NumeroDeJornada}}:    {{jornada.Fecha | date: 'shortDate'}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="enFila">
                  <!-- <div style="margin-right: 15%; border: 15px; width: 60%;"> -->
                  <div style="margin-left: 20px; font-size: 130%; width: 40%;">
                      <span style="font-weight: bold; font-size: 80%;">Criterio: {{jornada.CriterioGanador}}</span>
                      <!-- (click)="AñadirResultados()" -->
                      <!-- ///////////////////////////////////// TABLA ENFRENTAMIENTOS POR EQUIPOS ////////////////////////////////////// -->
                      <form style=" width: 100%" *ngIf="juegoSeleccionado.Modo != 'Individual'">
                        <table style="margin-left: 65px;  width: 200%" align="center" mat-table [dataSource]="dataSourceEnfrentamientoEquipo" class="example-container mat-elevation-z8">
                          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->

                          <!-- Position Column -->
                          <ng-container matColumnDef="nombreJugadorUno">
                            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Equipo 1 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.nombreJugadorUno}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="nombreJugadorDos">
                            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Equipo 2 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.nombreJugadorDos}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="nombreGanador">
                            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Ganador</th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.nombreGanador}} </td>
                          </ng-container>

                           <!-- Column
                          <ng-container matColumnDef="Ganador">
                            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
                            <td mat-cell *matCellDef="let enfrentamiento">
                              <button type="button" class="btn Aceptar" (click)="goBack()" style="margin-left: 600px">Resultados<i class="material-icons">emoji_events</i></button>
                            </td>
                          </ng-container> -->

                          <tr mat-header-row *matHeaderRowDef="displayedColumnsEnfrentamientos; sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsEnfrentamientos;"></tr>
                        </table>
                        <br>
                        <div  *ngIf="ParticipanteDescansa(jornada) !== true && participanteDescansa === null; else Aviso_participante_descansa"></div>
                        <ng-template #Aviso_participante_descansa>En este enfrentamiento {{participanteDescansa}}</ng-template>
                      </form>

                      <!-- ///////////////////////////////////// TABLA ENFRENTAMIENTOS INDIVIDUAL ////////////////////////////////////// -->
                      <form style=" width: 100%" *ngIf="juegoSeleccionado.Modo == 'Individual'">
                        <table style="margin-left: 65px;  width: 200%" align="center" mat-table [dataSource]="dataSourceEnfrentamientoIndividual" class="example-container mat-elevation-z8">
                          <!--- Note that these columns can be defined in any order.
                                The actual rendered columns are set as a property on the row definition" -->

                          <!-- Position Column -->
                          <ng-container matColumnDef="nombreJugadorUno">
                            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Alumno 1 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.nombreJugadorUno}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="nombreJugadorDos">
                            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Alumno 2 </th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.nombreJugadorDos}} </td>
                          </ng-container>

                          <!-- Weight Column -->
                          <ng-container matColumnDef="nombreGanador">
                            <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Ganador</th>
                            <td mat-cell *matCellDef="let enfrentamiento"> {{enfrentamiento.nombreGanador}} </td>
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumnsEnfrentamientos; sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsEnfrentamientos;"></tr>
                        </table>
                        <br>
                        <div  *ngIf="ParticipanteDescansa(jornada) !== true && participanteDescansa === null; else Aviso_participante_descansa"></div>
                        <ng-template #Aviso_participante_descansa>En este enfrentamiento {{participanteDescansa}}</ng-template>
                      </form>

                  </div>
                  <!-- <div>
                      <span style="font-weight: bold; font-size:150%;">PX</span>
                      <p style="color: rgb(63, 81, 181); font-size:180%;">hola</p>
                  </div> -->
              </div>
              </mat-expansion-panel>
          </mat-accordion>

        <ng-template #Aviso_no_jornadas>No se han creado jornadas en este juego</ng-template>
        </form>
        <!-- </mat-tab> -->

      <!-- EQUIPOS DEL JUEGO
      <mat-tab  *ngIf="juegoSeleccionado.Modo === 'Equipos'"  label="Equipos del Grupo"></mat-tab>

      CRITERIOS ELEGIR GANADOR DEL JUEGO
      <mat-tab  label="Criterios del Juego">
          <form>
              <mat-accordion>
                  <mat-expansion-panel *ngFor="let jornada of JornadasCompeticion">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                      Jornada {{jornada.NumeroDeJornada}}
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="enFila">
                        <div style="margin-right: 5%; border: 15px; width: 70%;">
                            <span style="font-weight: bold; font-size: 130%;">Criterio</span>
                            <p style="font-size: 150%; margin: 5px;">{{jornada.CriterioGanador}}</p>
                        </div>
                    </div>
                  </mat-expansion-panel>
              </mat-accordion>
            </form>
      </mat-tab> -->
    <!-- </mat-tab-group> -->
  </div>

  <button type="button" class="btn Back" (click)="goBack()">Volver </button>

</div>
