<div class="titulo">Pantalla para Editar Juego</div>
<div class="subtitulo">{{juegoSeleccionado.Tipo}}</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enColumna">
    <mat-tab-group align="center">

      <mat-tab label="Editar Jornadas">
        <div [formGroup]="myForm" class = "enFila" style="width: 80%">
          <div style="margin-top: 15px;">
            Fecha:
            <mat-form-field>
              <mat-label>Seleccione una Fecha del Calendario </mat-label>
              <input matInput [matDatepicker]="picker" (dateChange)="onChangeEvent($event)" placeholder="Seleccione una Fecha" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>


          <div style="margin-top: 15px;">
            <span>Criterio Ganador: </span>
            <mat-form-field>
              <mat-label>Escriba el Criterio Ganador</mat-label>
              <!--- <input matInput placeholder="Introduzca el Número de jornadas" > -->
              <input matInput formControlName="CriterioGanador" placeholder="Escribe el Criterio" requiered [(ngModel)]="CriterioGanador" (change) = "ActualizarBotonTablaJornada()">
            </mat-form-field>
          </div>
          <div style="margin-top: 10px">
            <button type="button"class="btn Aceptar" [disabled]="botonTablaDesactivadoJornada" (click) = EditarJornada()>Guardar Cambios</button>
          </div>
        </div>

        <form style="width: 100%">
          <table style="width: 100%" align="center" mat-table [dataSource]="dataSourceJornada" class="mat-elevation-z8">

            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla">
                <mat-checkbox
                              (change)="$event ? MasterToggleJornada() : null; ActualizarBotonTablaJornada ();"
                              [checked]="selection.hasValue() && IsAllSelectedJornada()"
                              [indeterminate]="selection.hasValue() && !IsAllSelectedJornada()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                              (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null; ActualizarBotonTablaJornada ();"
                              [checked]="selection.isSelected(row)">

                </mat-checkbox>

              </td>
            </ng-container>

            <!-- NumeroDeJornada Column -->
            <ng-container matColumnDef="NumeroDeJornada">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Jornada </th>
              <td mat-cell *matCellDef="let jornada"> {{jornada.NumeroDeJornada}} </td>
            </ng-container>

            <!-- Fecha Column -->
            <ng-container matColumnDef="Fecha">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Fecha </th>


              <div *ngIf="(JornadasCompeticion.Fecha === 'Fecha por Determinar')">
                <td mat-cell *matCellDef="let jornada; "> {{jornada.Fecha  | date: 'shortDate' }} </td>
              </div>

              <div *ngIf="(JornadasCompeticion.Fecha !== 'Fecha por Determinar')">
                <td mat-cell *matCellDef="let jornada; "> {{jornada.Fecha}} </td>
              </div>
            </ng-container>

            <!-- CriterioGanador Column -->
            <ng-container matColumnDef="CriterioGanador">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Criterio Ganador </th>
              <td mat-cell *matCellDef="let jornada;"> {{jornada.CriterioGanador}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsJornada"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsJornada;"></tr>

          </table>

          <br>
          <button type="button" class="btn Back" (click)="goBack()">Volver </button>

        </form>
      </mat-tab>

      <mat-tab  label="Editar Puntuación">
        <div [formGroup]="myForm1" class = "enFila" style="width: 80%">

          <div style="margin-top: 15px;">
            <span>Introduzca el Número de Puntos y Seleccione la Posición a la que desea asignarlos: </span>
            <mat-form-field>
              <mat-label>Introduzca los Puntos deseados</mat-label>
              <input matInput formControlName="NuevaPuntuacion" placeholder="Escriba los Puntos" requiered [(ngModel)]="NuevaPuntuacion" (change) = "ActualizarBotonTabla()">
            </mat-form-field>
          </div>
          <div  class="enFila" style="margin-top: 10px">
            <button type="button"class="btn Aceptar" [disabled]="botonTablaDesactivado" (click) = AnadirPuntos()>Establecer Puntuación</button>
            <button type="button" class="btn Aceptar" (click)="goBackandguardar()">Guardar Cambios</button>
          </div>
        </div>

        <form style="width: 100%">
          <table style="width: 100%" align="center" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla">
                <mat-checkbox
                              (change)="$event ? MasterToggle() : null; ActualizarBotonTabla ();"
                              [checked]="selectionPuntos.hasValue() && IsAllSelected()"
                              [indeterminate]="selectionPuntos.hasValue() && !IsAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox
                              (click)="$event.stopPropagation()"
                              (change)="$event ? selectionPuntos.toggle(row) : null; ActualizarBotonTabla ();"
                              [checked]="selectionPuntos.isSelected(row)">

                </mat-checkbox>

              </td>
            </ng-container>

            <!-- Posicion Column -->
            <ng-container matColumnDef="Posicion">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Posición </th>
              <td mat-cell style= "text-align: center" *matCellDef="let tablaPuntuacion"> {{tablaPuntuacion.Posicion}} </td>
            </ng-container>

            <!-- Puntos Column -->
            <ng-container matColumnDef="Puntos">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Puntos </th>
              <td mat-cell *matCellDef="let tablaPuntuacion; "> {{tablaPuntuacion.Puntuacion}} </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumnsTablaPuntuacion"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsTablaPuntuacion;"></tr>

          </table>
        </form>

        <div style="margin-top: 10px">
          <button type="button"class="btn Agregar" (click) = AnadirJugadorconPuntos()>Añadir Fila<i class="material-icons">
            add</i></button>
          <button type="button"class="btn Eliminar" (click) = EliminarJugadorconPuntos()>Eliminar Fila<i class="material-icons">
            delete</i></button>
        </div>
        <br>
        <div>
          <button type="button" class="btn Back" (click)="goBack()">Volver</button>
        </div>
      </mat-tab>

    </mat-tab-group>


  </div>
</div>

