<div class="titulo">Colecciones</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">

  <mat-tab-group>

    <mat-tab label="Mis colecciones">
      <br>
      <div class ='enColumna'>
        <form style = "width: 100%"  *ngIf="coleccionesProfesor;else Aviso_no_colecciones">

          <div class = "filter">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro para buscar colección...">
              <i class="material-icons" matSuffix>search</i>
            </mat-form-field>
          </div>
          <table style = "width: 80%" align= "center" mat-table [dataSource]="dataSource" class="mat-elevation-z8">


            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Nombre </th>
              <td mat-cell *matCellDef="let coleccion"> {{coleccion.Nombre}} </td>
            </ng-container>





            <ng-container matColumnDef="iconos">
                <th  mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
                <td  mat-cell *matCellDef="let coleccion">
                  <div  style = "display: flex; align-items: right">
                    <button  (click) = "EditarColeccion(coleccion)" mat-icon-button matTooltip="Editar la coleccion">
                      <i class="material-icons green md-36">edit</i>
                    </button>
                    <button (click) = "AbrirDialogoConfirmacionBorrarColeccion(coleccion)" mat-icon-button matTooltip="Eliminar la coleccion">
                      <i class="material-icons red md-36">delete</i>
                    </button>
                    <button (click) = "Descargar(coleccion)" mat-icon-button matTooltip="Descargar colección en JSON">
                      <i class="material-icons blue md-36">get_app</i>
                    </button>
                    <button *ngIf = "!coleccion.Publica" (click) = "HazPublica(coleccion)" mat-icon-button matTooltip="Haz pública la colección">
                      <i class="material-icons grey md-36">public_off</i>
                    </button>
                    <button *ngIf = "coleccion.Publica" (click) = "HazPrivada(coleccion)" mat-icon-button matTooltip="Haz privada la colección">
                      <i class="material-icons green md-36">public</i>
                    </button>
                  </div>
              </td>
            </ng-container>
<!--
              <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
                  <td mat-cell *matCellDef="let coleccion">
                    <button (click) = "EliminarColeccion(coleccion)" mat-icon-button matTooltip="Eliminar la coleccion">
                      <i class="material-icons red md-36">delete</i>
                    </button>
                  </td>
              </ng-container>

              <ng-container matColumnDef="copy">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
                <td mat-cell *matCellDef="let coleccion">
                  <button (click) = "CrearCopiaPrivada(coleccion)" mat-icon-button matTooltip="Crea una copia de la coleccion">
                    <i class="material-icons blue md-36">content_copy</i>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="publica">
                <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
                <td mat-cell *matCellDef="let coleccion">
                  <button *ngIf = "!coleccion.Publica" (click) = "HazPublica(coleccion)" mat-icon-button matTooltip="Haz pública la colección">
                    <i class="material-icons grey md-36">public_off</i>
                  </button>
                  <button *ngIf = "coleccion.Publica" (click) = "HazPrivada(coleccion)" mat-icon-button matTooltip="Haz privada la colección">
                    <i class="material-icons green md-36">public</i>
                  </button>
                </td>
              </ng-container> -->


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        </form>

        <div class="contenedor">
            <ng-template  #Aviso_no_colecciones><div class="texto">No tienes colecciones</div></ng-template>
        </div>
      </div>
    </mat-tab>
    <mat-tab label= "Colecciones públicas">
      <br>
      <div class ='enColumna'>
        <form style = "width: 100%" *ngIf="coleccionesPublicas;else Aviso_no_colecciones_publicas">

          <div class = "filter">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro para buscar colección...">
              <i class="material-icons" matSuffix>search</i>
            </mat-form-field>
          </div>
          <table style = "width: 80%" align= "center" mat-table [dataSource]="dataSourcePublicas" class="mat-elevation-z8">

            <!-- Titulo Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"> Nombre </th>
              <td mat-cell *matCellDef="let coleccion; let i = index">
                {{coleccion.Nombre}} ({{propietarios[i]}})
              </td>

            </ng-container>


            <ng-container matColumnDef="iconos">
              <th mat-header-cell *matHeaderCellDef class="tituloColumnaTabla"></th>
              <td mat-cell *matCellDef="let coleccion">
                <button (click) = "Mostrar(coleccion)" mat-icon-button matTooltip="Ver la colección">
                  <i class="material-icons green md-36">visibility</i>
                </button>
                <button (click) = "Descargar(coleccion)" mat-icon-button matTooltip="Descargar colección en JSON">
                  <i class="material-icons blue md-36">get_app</i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
        </form>

        <div class="contenedor">
            <ng-template  #Aviso_no_colecciones_publicas><div class="texto">No hay colecciones publicas</div></ng-template>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
    <!-- <mat-card class="panel">
        <mat-card-content>
    <form>
        <mat-accordion *ngIf="coleccionesProfesor;else Aviso_no_colecciones">
            <mat-expansion-panel *ngFor="let coleccion of coleccionesProfesor" (click) = "DameCromosEImagenDeLaColeccion(coleccion)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{coleccion.Nombre}}
                </mat-panel-title>
              </mat-expansion-panel-header>
                <div class="enFila" style = "width: 100%">
                    <div class= "enColumna">
                      <img class ="imagen" *ngIf="imagenColeccion" mat-card-image [src]="imagenColeccion" >
                      <span style="font-weight: bold; font-size: 130%;"> {{numeroDeCromos}} cromos</span>
                    </div>
                    <div class="enColumna">
                        <button type="button" class="btn Editar" style="width: 180px; "routerLink= "editarColeccion" (click) = "GuardarColeccion(coleccion)">Editar Colección <i class="material-icons">
                          edit </i>  </button>

                        <button type="button" class="btn Eliminar" style="width: 180px; " (click) = "AbrirDialogoConfirmacionBorrarColeccion(coleccion)">Eliminar Colección <i class="material-icons">
                          delete
                          </i></button>

                    </div>
                </div>

            </mat-expansion-panel>
          </mat-accordion>

          <ng-template #Aviso_no_colecciones>Todavía no hay colecciones creadas.</ng-template>


    </form>
      </mat-card-content>
    </mat-card> -->
</div>
