<div class="titulo">{{juegoSeleccionado.NombreJuego}}</div>
<div class="subtitulo">{{juegoSeleccionado.Tipo}} {{juegoSeleccionado.Modo}}</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Puntos'">
  <app-juego-de-puntos-seleccionado-inactivo></app-juego-de-puntos-seleccionado-inactivo>
</div>

<div  *ngIf= "juegoSeleccionado.Tipo === 'Juego De Colección'">
  <app-juego-de-coleccion-seleccionado-inactivo></app-juego-de-coleccion-seleccionado-inactivo>
</div>

<div  *ngIf= "juegoSeleccionado.Tipo === 'Juego De Competición Fórmula Uno'">
  <app-juego-formula-uno-seleccionado-inactivo></app-juego-formula-uno-seleccionado-inactivo>
</div>

<div  *ngIf= "juegoSeleccionado.Tipo === 'Juego De Competición Liga'">
  <app-juego-de-competicion-seleccionado-inactivo></app-juego-de-competicion-seleccionado-inactivo>
</div>

<div  *ngIf= "juegoSeleccionado.Tipo === 'Juego De Competición Torneo'">
  <app-juego-torneo-seleccionado-inactivo></app-juego-torneo-seleccionado-inactivo>
</div>

<div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Cuestionario'">
  <app-juego-de-cuestionario-seleccionado-inactivo></app-juego-de-cuestionario-seleccionado-inactivo>
</div>

<div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Geocaching'">
  <app-juego-de-geocaching-seleccionado-inactivo></app-juego-de-geocaching-seleccionado-inactivo>
</div>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Votación Uno A Todos'">
  <app-juego-de-votacion-uno-atodos-seleccionado-inactivo></app-juego-de-votacion-uno-atodos-seleccionado-inactivo>
</div>
<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Votación Todos A Uno'">
  <app-juego-de-votacion-todos-auno-seleccionado-inactivo></app-juego-de-votacion-todos-auno-seleccionado-inactivo>
</div>


<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Avatar'">
  <app-juego-de-avatar-seleccionado-inactivo></app-juego-de-avatar-seleccionado-inactivo>
</div>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Cuestionario de Satisfacción'">
  <app-juego-de-cuestionario-satisfaccion-inactivo></app-juego-de-cuestionario-satisfaccion-inactivo>
</div>


<div  class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Cuentos'">
  <app-juego-de-cuento-seleccionado-inactivo></app-juego-de-cuento-seleccionado-inactivo>
</div>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Evaluacion'">
  <app-juego-de-evaluacion-seleccionado-inactivo></app-juego-de-evaluacion-seleccionado-inactivo>
</div>

<!-- En el caso de este tipo de juego la pantalla de juego activo es la misma que la de juego inactivo. Solo cambian los botones primeros
Por eso reuso el mismo componente de juego activo, en el que con un *ngIf seleccion el conjunto de botones que quiero mostrar, según si el juego 
está activo o inactivo. Pero el resto del componente es el mismo. Así ahorro componentes y no repito código. -->

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Control de trabajo en equipo'">
  <app-juego-de-control-de-trabajo-en-equipo-seleccionado-activo></app-juego-de-control-de-trabajo-en-equipo-seleccionado-activo>
</div>

<div class="enColumna"> <button type="button" class="btn Back" (click)="goBack()">Volver </button>
</div>
