<div class="titulo">{{juegoSeleccionado.NombreJuego}}</div>
<div class="subtitulo">{{juegoSeleccionado.Tipo}} {{juegoSeleccionado.Modo}}</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Puntos'">
  <app-juego-de-puntos-seleccionado-inactivo></app-juego-de-puntos-seleccionado-inactivo>
</div>

<div  *ngIf= "juegoSeleccionado.Tipo === 'Juego De Colección'">
  <app-juego-de-coleccion-seleccionado-inactivo></app-juego-de-coleccion-seleccionado-inactivo>
</div>

<div  *ngIf= "juegoSeleccionado.Tipo === 'Juego De Competición Fórmula Uno'">
  <app-juego-formula-uno-seleccionado-inactivo></app-juego-formula-uno-seleccionado-inactivo>
</div>

<div  *ngIf= "juegoSeleccionado.Tipo === 'Juego De Competición Liga'">
  <app-juego-de-competicion-seleccionado-inactivo></app-juego-de-competicion-seleccionado-inactivo>
</div>

<div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Cuestionario'">
  <app-juego-de-cuestionario-seleccionado-inactivo></app-juego-de-cuestionario-seleccionado-inactivo>
</div>

<div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Geocaching'">
  <app-juego-de-geocaching-seleccionado-inactivo></app-juego-de-geocaching-seleccionado-inactivo>
</div>

<div class="contenedor" *ngIf= "juegoSeleccionado.Tipo === 'Juego De Votación Uno A Todos'">
  <app-juego-de-votacion-uno-atodos-seleccionado-inactivo></app-juego-de-votacion-uno-atodos-seleccionado-inactivo>
</div>

<div class="enColumna"> <button type="button" class="btn Back" (click)="goBack()">Volver </button>
</div>
