<div class="subtitulo" align="center">Informacion Juego</div>
<mat-divider class="lineaDivisoria"></mat-divider>
<br>
<div class = "contenedor" >
  <div class = "enColumna">
    <form>
        <mat-card class= "cardBorder">
          <mat-card-content>
                  <p style="font-size: medium;">
                    <span style="font-weight: bold; font-size: medium;">Nombre del Juego: </span>
                    {{NombreJuego}}
                  </p>
                <div>
                  <p style="font-size: medium;">
                    <span style="font-weight: bold; font-size: medium;">Puntuacion correcta: </span>
                    {{PuntuacionCorrecta}}
                  </p>
                </div>
                <div>
                  <p style="font-size: medium;">
                    <span style="font-weight: bold; font-size: medium;">Puntuacion Incorrecta: </span>
                    {{PuntuacionIncorrecta}}
                  </p>
                </div>
                <div>
                  <p style="font-size: medium;">
                    <span style="font-weight: bold; font-size: medium;">Presentacion: </span>
                    {{Presentacion}}
                  </p>
                </div>
                <div>
                  <p style="font-size: medium;">
                    <span style="font-weight: bold; font-size: medium;">Juego Activo: </span>
                    {{JuegoActivo}}
                  </p>
                </div>
                <div>
                  <p style="font-size: medium;">
                    <span style="font-weight: bold; font-size: medium;">Juego Termiando: </span>
                    {{JuegoTerminado}}
                  </p>
                </div>
                <div>
                  <p style="font-size: medium;">
                    <span style="font-weight: bold; font-size: medium;">Cuestionario: </span>
                    {{TituloCuestionario}}
                  </p>
                </div>
                <div class="enColumna"> <button type="button" class="btn Back" (click)="goBack()">Volver </button>
                </div>
          </mat-card-content>
        </mat-card>
      </form>
  </div>
</div>
