<div class="titulo">Avatar de {{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</div>
<mat-divider class="lineaDivisoria"></mat-divider>
<br>
<br>
<div class = "contenedor">
<div *ngIf = "inscripcionAlumnoJuegoAvatar" class = "enColumna" >
  <div   *ngIf = "inscripcionAlumnoJuegoAvatar.Silueta"  style="display: flex; width: 600px; height: 648px; margin: auto; ">
    <img  [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Silueta" style=" width: 600px; height: 648px; position: relative; z-index: 0;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento1" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento1" style=" width: 600px; height: 648px; position: absolute; z-index: 1;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento2" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento2" style=" width: 600px; height: 648px;position: absolute; z-index: 2;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento3" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento3" style=" width: 600px; height: 648px;position: absolute; z-index: 3;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento4" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento4" style=" width: 600px; height: 648px;position: absolute; z-index: 4;">
  </div>
  <div  *ngIf = "!inscripcionAlumnoJuegoAvatar.Silueta" style="display: flex;  width: 600px; height: 648px; margin: auto;  opacity: 0.2;">
    <img  src = "../../assets/interrogante.jpg" style="width: 600px; height: 648px;position: relative; z-index: 0;">
  </div>
  <button type="button" class="btn Back" (click)="goBack()">Volver </button>
</div>
</div>



