<div class="titulo">Mis recursos de cuentos</div>
<mat-divider class="lineaDivisoria"></mat-divider>

<div class="contenedor">
  <div class="enFila" style="width: 60%; align-content: left;">
    <div>
      Seleccione un pack
      <br>
      <mat-form-field>
        <mat-label>Pack de recursos</mat-label>
        <select matNativeControl [(ngModel)]="recursoId" (change)="traeImagenesRecursoLibro()">
          <option *ngFor="let recurso of listaRecursos" [value]="recurso.id">
            <p>{{recurso.nombre}}</p>
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="recursoCargadoPregunta">
    <h2>Personajes:</h2>

    <div>
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngFor='let imageF of listaFotosPersonajes'>
          <mat-card>

            <img [src]='imageF.url' height="175" width="175">
            <p>{{imageF.nombre}}</p>
            <p>{{imageF.especial}}</p>
          </mat-card>

        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <h2>Fondos:</h2>

    <div>
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile *ngFor='let imageP of listaFotosFondos'>
          <mat-card>

            <img [src]='imageP.url' height="450" width="450">
            <p>{{imageP.nombre}}</p>
            <p>{{imageP.especial}}</p>
          </mat-card>


        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <h2>Objetos:</h2>

    <div>
      <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile *ngFor='let imageO of listaFotosObjetos'>
          <mat-card>
            <img [src]='imageO.url' height="175" width="175">
            <p>{{imageO.nombre}}</p>
            <p>{{imageO.especial}}</p>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>


  </div>

</div>